<!--direktíva-->
<div class="modulmap" style="padding: 10px 10px 0px 10px;">
	<div class="row">
		<div class="col-sm-3" style="margin-top:10px">
			<div class="input-group">
				<!--span class="input-group-addon">Típus:</span-->
				<select ng-model="actallapot" class="form-control" ng-change="count()">
					<option value="bokes">Bökés</option>
					<option value="bokesperaeq">Bökés/AEQ</option>
					<option value="sulyozottbokesperaeq">Súlyozott Bökés/AEQ</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3" style="margin-top:10px" ng-show="actreszlettipus==''">
			<div class="input-group">
				<span class="input-group-addon">Típus:</span>
				<select ng-model="acttipus" class="form-control" ng-change="mutatchart = false">
					<option value="">Mind</option>
					<option value="FLOW">FLOW</option>
					<option value="CP5">CP5</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3" style="margin-top:10px" ng-show="acttipus==''">
			<div class="input-group">
				<span class="input-group-addon">Típus részletes:</span>
				<select ng-model="actreszlettipus" class="form-control" ng-change="mutatchart = false">
					<option value="">Mind</option>
					<option ng-repeat="item in data|unique:'modtype'" value="{{item.modtype}}">{{item.modtype}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:10px">
		<div class="col-sm-6">
			<div class="modMap">
				<div class="row" ng-repeat="sor in ['1','2','3','4','5','6','7','8'] track by $index">
					<div ng-if="sor == '1' || sor == '8'">
						<div ng-repeat="oszlop in ['A','B','C','D','E'] track by $index" ng-click="drawchart(oszlop, sor)" class="blue" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ (data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus} |filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='2' || sor=='6'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" ng-click="drawchart(oszlop, sor)" class="yellow" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ (data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='3' || sor=='5'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" ng-click="drawchart(oszlop, sor)" class="black" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ (data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='4'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" ng-click="drawchart(oszlop, sor)" class="red" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ (data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
								| sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<h3>Összes Hiba: {{((data)|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search | sumField:'bt_kat_db1')
				| number:0}} db
			</h3>
			<h3>Összes bökés: {{((data)|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search | sumField:'bt_kat_db1')
				- (((data)|filter:{'Sor':9})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search | sumField:'bt_kat_db1')
				| number:0}} db</h3>
			<h3>Eltávolított szálak: {{(((data)|filter:{'Sor':9})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:search
				| sumField:'bt_kat_db1') | number:0}} db</h3>
			<div ng-show="mutatchart==true">
				<mychart id="chart" config="chartconfig"></mychart>
			</div>
		</div>
	</div>
	<!--div class="row">
		<div class="modMaps">
			<div class="col-sm-3" ng-repeat="szak in ['A','B','C','D']">
				<h1 class="text-center">{{szak}}</h1>
				<div class="row" ng-repeat="sor in ['1','2','3','4','5','6','7','8'] track by $index">
					<div ng-if="sor == '1' || sor == '8'">
						<div ng-repeat="oszlop in ['A','B','C','D','E'] track by $index" class="blues" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus} |filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ ((((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='2' || sor=='6'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" class="yellows" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ ((((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='3' || sor=='5'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" class="blacks" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ ((((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
					<div ng-if="sor=='4'">
						<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" class="reds" title="{{oszlop+sor}}">
							<span ng-if="actallapot=='bokes'">{{ ((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1' | number:0 }}</span>
							<span ng-if="actallapot=='bokesperaeq'">{{ (((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq| number:2 }}
							</span>
							<span ng-if="actallapot=='sulyozottbokesperaeq'">{{ ((((data|filter:{'Sor':sor, 'Oszlop': oszlop})|filter:{'shift':szak})|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter:search | sumField:'bt_kat_db1')/allaeq)*30| number:2 }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div-->
	<div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Bökés határ:</span>
				<input type="text" ng-model="bokeshatar" class="form-control">
				<span class="input-group-addon">felett összesen: {{ (data|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter:greater('bt_kat_db1',
					bokeshatar)).length }} hely van</span>
			</div>
		</div>
		<div class="col-sm-12" style="margin-top:20px">
			<div class="tray filter-tray top">
				<div class="tray-inner">
					<div class="filter-rule-group">
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Modul</span>
									<select ng-model="search.modul_id1" class="form-control ng-pristine ng-untouched ng-valid">
										<option value="">Mind</option>
										<option ng-repeat="modul in data|unique:'modul_id1'" value="{{modul.modul_id1}}">{{modul.modul_id1}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">SheetMaker</span>
									<select ng-model="search.sheetmaker" class="form-control ng-pristine ng-untouched ng-valid">
										<option value="">Mind</option>
										<option ng-repeat="sm in sheetmakers" value="{{sm}}">{{sm}}</option>
									</select>
								</div>
							</div>
							<!--<div class="col-sm-3">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Ford. op.</span>
									<input type="text" ng-model="search.rot" class="form-control">
								</div>
							</div>-->
							<div class="col-sm-3">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Sor</span>
									<select ng-model="search.Sor" class="form-control ng-pristine ng-untouched ng-valid">
										<option value="">Mind</option>
										<option ng-repeat="sor in sorok" value="{{sor}}">{{sor}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Oszlop</span>
									<select ng-model="search.Oszlop" class="form-control ng-pristine ng-untouched ng-valid">
										<option value="">Mind</option>
										<option ng-repeat="osz in oszlopok" value="{{osz}}">{{osz}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<span class="input-group-addon">Táblázatban lévő bökések száma: {{ data| filter:greater('bt_kat_db1', bokeshatar)|filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus}
								| filter: search | filter:search | sumField:'bt_kat_db1' }}
							</span>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-hover table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center" ng-click="order='modul_id1';desc=!desc;">Modul ID</th>
						<th class="text-center">Név</th>
						<th class="text-center">SheetMaker</th>
						<th class="text-center">SM operátor</th>
						<th class="text-center">Potting</th>
						<th class="text-center">Gél Prep. op.</th>
						<th class="text-center">Gél Prep. dátum</th>
						<th class="text-center">Gél Prep. szak</th>
						<th class="text-center">Ford. op.</th>
						<th class="text-center">Ford. dátum</th>
						<th class="text-center">Ford. szak</th>
						<th class="text-center">Kád</th>
						<th class="text-center">Bökés</th>
						<th class="text-center">Bökés/AEQ</th>
						<th class="text-center">Sor</th>
						<th class="text-center">Oszlop</th>
						<th class="text-center">Hiba megnevezése</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in data| filter:greater('bt_kat_db1', bokeshatar) | orderBy:order:desc |filter:{'tipus':acttipus}|filter:{'modtype':actreszlettipus} | filter: search track by $index">
						<td align="center">{{item.modul_id1}}</td>
						<td align="center">{{item.modtype}}</td>
						<td align="center">{{item.sheetmaker}}</td>
						<td align="center">{{item.smop}}</td>
						<td align="center">{{item.potting}}</td>
						<td align="center">{{item.gelprep}}</td>
						<td align="center">{{item.geldate}}</td>
						<td align="center">{{item.gelshift}}</td>
						<td align="center">{{item.rot}}</td>
						<td align="center">{{item.rotdate}}</td>
						<td align="center">{{item.rotshift}}</td>
						<td align="center">{{item.tank}}</td>
						<td align="center">{{item.bt_kat_db1}}</td>
						<td align="center">{{(item.bt_kat_db1/item.aeq)| number:2}}</td>
						<td align="center">{{item.Sor}}</td>
						<td align="center">{{item.Oszlop}}</td>
						<td align="center">{{item.KatName1}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>