<div class="container">
  <section class="module">
    <div class="module-header">Projekt
      <button class="btn btn-success pull-right" ui-sref="Projektlista">Vissza</button>
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">Azonosító:</span>
            <input type="text" class="form-control" ng-model="vm.project.id" readonly>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">Név:</span>
            <input type="text" class="form-control" ng-model="vm.project.name" readonly>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Részletes leírás:</span>
            <textarea class="form-control" rows="4" ng-model="vm.project.description" readonly></textarea>
          </div>
        </div>
      </div>

<div class="row" style="margin-top:10px">
      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">Gyakoriság:</span>
            <input type="text" class="form-control" ng-model="vm.project.freqvency" readonly>
          </div>
        </div>

      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">Riport elkészítése:</span>
            <input type="text" class="form-control" ng-model="vm.project.reporttime" readonly>
          </div>
        </div>

      <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">Szint:</span>
            <input type="text" class="form-control" ng-model="vm.project.level" readonly>
          </div>
        </div>
        </div>

      <div>
        <h3>Iterációk:</h3>
        <ul class="nav nav-tabs" ng-show="vm.sprintazon!=''">
          <li ng-repeat="item in vm.thisprojectsprint track by $index"><a href="" data-toggle="tab" ng-click="vm.clickDate(item)">{{item.id | date: 'yyyy-MM-dd'}} - {{item.due | date: 'yyyy-MM-dd'}}</a></li>
        </ul>
        <my-chart id="chart1" config="vm.chartConfig"></my-chart>
      </div>

    </div>
    <div class="module-footer"></div>
  </section>
</div>