<div class="container-fluid">
  <section class="module col-sm-12">
    <section class="module col-sm-12 col-md-12">
      <div class="module-body">
        <h1 class="voice voice-brand">UF/MBR Összesítő <b>{{vm.startdate}}</b></h1>
        <sup class="pull-right">Legutóbbi frissítés: {{vm.refdate}}, következő frissítés: {{vm.newrefdate}}</sup>
        <hr>
        <!-- date choose -->
        <div class="col-sm-2">
          <div>
            <h2 class="voice voice-brand">
              <i class="icon-filter"></i> Szűrő</h2>
            <p>
              Válassz az alábbi dátum mezőből kijelezni kívánt napot:
            </p>
            <div class="input-group col-sm-12">
              <span class="input-group-addon">Dátumra:</span>
              <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="0" end="{{vm.edate}}" ng-disabled="vm.load">
            </div>
            <div class="progress progress-info progress-striped active" ng-hide="!vm.load">
              <div class="progress-bar" style="width: 100%">
                <p class="text-center">Frissítés...</p>
              </div>
            </div>
            <div class="button-group text-center">
              <button class="btn btn-info" ng-click="vm.start();" ng-disabled="vm.load">
                <i class="icon icon-filter"></i> Szűrés</button>
            </div>
            <br>
          </div>
        </div>
        <!-- data -->
        <div class="col-sm-10">
          <table class="table mytable table-condensed">
            <thead>
              <tr>
                <th>Szak</th>
                <th>SheetMaker</th>
                <th>Potting Be</th>
                <th>Potting Ki</th>
                <th>Klór Ki</th>
                <th>BP Ki</th>
                <th>BP Rework</th>
                <th>Bökés / AEQ</th>
                <th>Minősítve</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="shn in [1,3] track by $index">
                <td><h3><strong>{{shn | shift:vm.startdate}}</strong> - {{shn==1?'DE':'ÉJ'}}</h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'Sheetmaker'}) | sumField:'sumgoodaeq'),'sm', shn)}}"><strong>{{(vm.data | filter:{shiftnum : shn, machine: 'Sheetmaker'}) | sumField:'sumgoodaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'Potting'}) | sumField:'suminaeq'),'potting', shn)}}"><strong>{{(vm.data | filter:{shiftnum: shn, machine: 'Potting'}) | sumField:'suminaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'Potting'}) | sumField:'sumoutaeq'),'potting', shn)}}"><strong>{{(vm.data | filter:{shiftnum: shn, machine: 'Potting'}) | sumField:'sumoutaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'MTF'}) | sumField:'choutaeq'),'min', shn)}}"><strong>{{(vm.data | filter:{shiftnum : shn, machine: 'MTF'}) | sumField:'choutaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'aeq'),'bp', shn);}}"><strong>{{(vm.data | filter:{shiftnum: shn, machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'aeq'|number:2}}</strong></h3></td>
                <td><h3><strong>{{(vm.data | filter:{shiftnum: shn, machine: 'Rework', state: 'Rework', type: '!ZB500S'}) | sumField:'aeq'}}</strong></h3></td>
                <td><h3><strong>{{ ((vm.data | filter:{shiftnum: shn, machine: 'MTF', type: '!ZB500S'}) | sumField:'BOKES')/((vm.data | filter:{shiftnum: shn, machine: 'MTF', type: '!ZB500S'}) | sumField:'sumaeq') | number:1}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{shiftnum: shn, machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'gradeaeq'),'min', shn);}}"><strong>{{(vm.data | filter:{shiftnum: shn, machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'gradeaeq'|number:2}}</strong></h3></td>
              </tr>
              <tr>
                <td><h3><strong>Össz:</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'Sheetmaker'}) | sumField:'sumgoodaeq'),'sm',0)}}"><strong>{{(vm.data | filter:{ machine: 'Sheetmaker'}) | sumField:'sumgoodaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'Potting'}) | sumField:'suminaeq'),'potting',0)}}"><strong>{{(vm.data | filter:{ machine: 'Potting'}) | sumField:'suminaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'Potting'}) | sumField:'sumoutaeq'),'potting',0)}}"><strong>{{(vm.data | filter:{ machine: 'Potting'}) | sumField:'sumoutaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'MTF'}) | sumField:'choutaeq'),'min',0)}}"><strong>{{(vm.data | filter:{ machine: 'MTF'}) | sumField:'choutaeq'|number:2}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'aeq'),'bp',0);}}"><strong>{{(vm.data | filter:{ machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'aeq'|number:2}}</strong></h3></td>
                <td><h3><strong>{{(vm.data | filter:{machine: 'Rework', state: 'Rework', type: '!ZB500S'}) | sumField:'aeq'}}</strong></h3></td>
                <td><h3><strong>{{ ((vm.data | filter:{machine: 'MTF', type: '!ZB500S'}) | sumField:'BOKES')/((vm.data | filter:{machine: 'MTF', type: '!ZB500S'}) | sumField:'sumaeq') | number:1}}</strong></h3></td>
                <td><h3 class="{{vm.iconize(((vm.data | filter:{machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'gradeaeq'),'min',0);}}"><strong>{{(vm.data | filter:{machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'gradeaeq'|number:2}}</strong></h3></td>
              </tr>
              <tr>
                <td><i class="icon-ico_link_lg"></i>&nbsp; Linkek:</td>
                <td><a class="btn btn-primary" href="../sm" target="_blank">SM</a></td>
                <td colspan="2"><a class="btn btn-primary" href="../potting" target="_blank">POTTING</a></td>
                <td colspan="5"><a class="btn btn-primary" href="../mtf" target="_blank">MTF</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- targets -->
        <div class="col-sm-3">
        <div>
          <h2 class="voice voice-brand">
            <i class="icon-ico_target_lg"></i> Célok</h2>
          <p>
            Változtasd a számokat, a színjelölések módosítására:
          </p>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#zw500targets" data-toggle="tab">500</a>
              </li>
              <!--<li>
                <a href="#zbtargets" data-toggle="tab">ZB</a>
              </li>
              <li>
                <a href="#zw1000targets" data-toggle="tab">1000</a>
              </li>
              <li>
                <a href="#zw1500targets" data-toggle="tab">1500</a>
              </li>-->
            </ul>
            <div class="tab-content" style="border: 1px solid #dddddd;border-top: 0;padding: 10px;">
              <div class="tab-pane active" id="zw500targets">
                <div class="input-group">
                  <span class="input-group-addon">500 SM selejt %:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.smscrap">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">500 Modul selejt %:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.modscrap">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">500 BP cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.bp">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">500 Minősítési cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.min">
                </div>
                <br>
                <strong>Szűrés Termékre</strong>
                <div class="input-group col-sm-12">
                  <span class="input-group-addon">Termék:</span>
                  <select ng-model="vm.search.partnumber" class="form-control">
                    <option value="">Mind</option>
                    <option ng-repeat="pns in vm.data | unique:'partnumber' track by $index" value="{{pns.partnumber}}">{{pns.partnumber}} - {{pns.PartGroup_Name?pns.PartGroup_Name:pns.Type}}</option>
                  </select>
                </div>
              </div>
              <div class="tab-pane" id="zbtargets">
                <div class="input-group">
                  <span class="input-group-addon">ZB SM selejt %:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zbsmscrap">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">ZB Modul selejt %:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zbmodscrap">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">ZB BP cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zbbp">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">ZB Minősítési cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zbmin">
                </div>
              </div>
              <div class="tab-pane" id="zw1000targets">
                <div class="input-group">
                  <span class="input-group-addon">ZW1000 Minősítési cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zw1000min">
                </div>
              </div>
              <div class="tab-pane" id="zw1500targets">
                <div class="input-group">
                  <span class="input-group-addon">ZW1500 Minősítési cél AEQ:</span>
                  <input type="text" class="form-control text-center" ng-model="vm.rates.zw1500min">
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- details -->
        <div class="col-sm-9">
          <table class="table detailsTable">
            <tr>
              <th>SheetMaker</th>
              <th>Össz lap</th>
              <th>Jó lap</th>
              <th>Jó Aeq</th>
              <th>Potting</th>
              <th>BE</th>
              <th>Fordít</th>
              <th>KI</th>
              <th>Klór ki</th>
              <th>Kádak</th>
              <th>Minősített</th>
            </tr>
            <tr ng-repeat="sm in ['SheetMaker6', 'SheetMaker7', 'SheetMaker8'] track by $index">
              <td>{{sm}}</td>
              <td>{{ vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'Totalsheets' | number:0 }}</td>
              <td>{{ (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'Totalsheets') - (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'ScrapSheets') | number:0}}</td>
              <td>{{ (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'sumgoodaeq') | number:2}}</td>
              <!--Potting-->
              <td ng-if="sm=='SheetMaker6'" rowspan="4" style="vertical-align: middle">Potting4</td>
              <td ng-if="sm=='SheetMaker6'"  rowspan="4" style="vertical-align: middle">{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'In' | number:0}}<br><sup>modul</sup><br><strong>{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'suminaeq'|number:2}}</strong><br><sup>AEq</sup></td>
              <td ng-if="sm=='SheetMaker6'"  rowspan="4" style="vertical-align: middle">{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'P3' | number:0}}<br><sup>modul</sup><br><strong>{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'sump3aeq'|number:2}}</strong><br><sup>AEq</sup></td>
              <td ng-if="sm=='SheetMaker6'"  rowspan="4" style="vertical-align: middle">{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'Out' | number:0}}<br><sup>modul</sup><br><strong>{{(vm.data | filter:vm.search | filter:{MachineName: 'Potting4'}) | sumField:'sumoutaeq'|number:2}}</strong><br><sup>AEq</sup></td>

              <!-- Klórozó -->
              <td ng-if="sm=='SheetMaker6'" rowspan="8" style="vertical-align:middle">{{vm.data | filter:vm.search | filter:{machine:'MTF'} | sumField: 'CHOUT' | number:0}}<br><sup>modul</sup><br><strong>{{vm.data | filter:vm.search | filter:{machine:'MTF'} | sumField: 'choutaeq' | number:2}}</strong><br><sup>AEq</sup></td>
              <td ng-if="sm=='SheetMaker6'" rowspan="8" style="vertical-align:middle">
                <strong style="display: block; border-bottom: 1px solid #ddd">Ki</strong>
                <div class="row">
                  <div class="col-sm-6">{{(vm.data | filter:vm.search | filter:{ machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'cnt' | number:0}}<br><sup>modul</sup></div>
                  <div class="col-sm-6"><strong>{{(vm.data | filter:vm.search | filter:{ machine: 'Rework', state: 'BP', type: '!ZB500S'}) | sumField:'aeq'|number:2}}</strong><br><sup>AEq</sup></div>
                </div>
                <strong style="display: block; border-bottom: 1px solid #ddd">Rework</strong>
                <div class="row">
                  <div class="col-sm-6">{{(vm.data | filter:vm.search | filter:{ machine: 'Rework', state: 'Rework', type: '!ZB500S'}) | sumField:'cnt' | number:0}}<br><sup>modul</sup></div>
                  <div class="col-sm-6"><strong>{{(vm.data | filter:vm.search | filter:{ machine: 'Rework', state: 'Rework', type: '!ZB500S'}) | sumField:'aeq'| number:2}}</strong><br><sup>AEq</sup></div>
                </div>
                <strong style="display: block; border-bottom: 1px solid #ddd">Bökés</strong>
                {{vm.data | filter:vm.search | filter:{machine: 'MTF', type: '!ZB500S'} | sumField:'BOKES' | number:0}}<br><sup>Bökés</sup><br>
                <strong>{{ ((vm.data | filter:vm.search | filter:{machine: 'MTF', type: '!ZB500S'}) | sumField:'BOKES')/((vm.data | filter:vm.search | filter:{machine: 'MTF', type: '!ZB500S'}) | sumField:'sumaeq') | number:1}}</strong><br><sup>Bökés / AEq</sup>
              </td>
              <td ng-if="sm=='SheetMaker6'" rowspan="8" style="vertical-align:middle">{{(vm.data | filter:vm.search | filter:{machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'GRADED'  | number:0}}<br><sup>modul</sup><br><strong>{{(vm.data | filter:vm.search | filter:{machine: 'MTF', type: '!ZB500S_MIN'}) | sumField:'gradeaeq'| number:2}}</strong><br><sup>AEq</sup></td>

            </tr>
            <tr style="background-color:dimgray;color:white;">
              <td>Részösszeg</td>
              <td><strong>{{ vm.filterSMs(['SheetMaker6', 'SheetMaker7', 'SheetMaker8']) | sumField:'Totalsheets' | number:0 }}</strong></td>
              <td><strong>{{ (vm.filterSMs(['SheetMaker6', 'SheetMaker7', 'SheetMaker8']) | sumField:'Totalsheets') - (vm.filterSMs(['SheetMaker6', 'SheetMaker7', 'SheetMaker8']) | sumField:'ScrapSheets') |number:0 }}</strong></td>
              <td><strong>{{ vm.filterSMs(['SheetMaker6', 'SheetMaker7', 'SheetMaker8'] ) | sumField:'sumgoodaeq'|number:2 }}</strong></td>
            </tr>
            <tr ng-repeat="sm in ['SheetMaker4', 'SheetMaker5', 'SheetMaker9'] track by $index">
              <td>{{sm}}</td>
              <td>{{ vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'Totalsheets' | number:0 }}</td>
              <td>{{ (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'Totalsheets') - (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'ScrapSheets') |number:0}}</td>
              <td>{{ (vm.data | filter:vm.search | filter:{MachineName:sm} | sumField:'sumgoodaeq') | number:2 }}</td>
              <!--Potting-->
              <td ng-if="sm=='SheetMaker4'" rowspan="4" style="vertical-align: middle;">Potting3<br>Potting2</td>
              <td ng-if="sm=='SheetMaker4'"  rowspan="4" style="vertical-align: middle">{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'In' | number:0}}<br><sup>modul</sup><br><strong>{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'suminaeq' | number:2}}</strong><br><sup>AEq</sup></td>
              <td ng-if="sm=='SheetMaker4'"  rowspan="4" style="vertical-align: middle">{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'P3' | number:0}}<br><sup>modul</sup><br><strong>{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'sump3aeq' | number:2}}</strong><br><sup>AEq</sup></td>
              <td ng-if="sm=='SheetMaker4'"  rowspan="4" style="vertical-align: middle">{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'Out' | number:0}}<br><sup>modul</sup><br><strong>{{vm.filterSMs(['Potting2', 'Potting3']) | sumField:'sumoutaeq' | number:2}}</strong><br><sup>AEq</sup></td>
            </tr>
            <tr style="background-color:dimgray;color:white;">
              <td>Részösszeg</td>
              <td><strong>{{ vm.filterSMs(['SheetMaker4', 'SheetMaker5', 'SheetMaker9']) | sumField:'Totalsheets' | number:0 }}</strong></td>
              <td><strong>{{ (vm.filterSMs(['SheetMaker4', 'SheetMaker5', 'SheetMaker9']) | sumField:'Totalsheets') - (vm.filterSMs(['SheetMaker4', 'SheetMaker5', 'SheetMaker9']) | sumField:'ScrapSheets') }}</strong></td>
              <td><strong>{{ vm.filterSMs(['SheetMaker4', 'SheetMaker5', 'SheetMaker9'] ) | sumField:'sumgoodaeq' | number:2}}</strong></td>
            </tr>
            <tr>
              <th>Összesen</th>
              <th>{{ vm.data | filter:vm.search | filter:{machine:'SheetMaker'} | sumField:'Totalsheets' | number:0}}</th>
              <th>{{ (vm.data | filter:vm.search | filter:{machine:'SheetMaker'} | sumField:'Totalsheets') - (vm.data | filter:vm.search | filter:{machine:'SheetMaker'} | sumField:'ScrapSheets') | number:0}}</th>
              <th>{{ vm.data | filter:vm.search | filter:{machine:'SheetMaker'} | sumField:'sumgoodaeq' | number:2}}</th>
              <th></th>
              <th><strong>{{vm.data | filter:vm.search | filter:{machine:'Potting'}| sumField:'suminaeq' | number:2}}</strong> AEq</th>
              <th><strong>{{vm.data | filter:vm.search | filter:{machine:'Potting'} | sumField:'sump3aeq' | number:2}}</strong> AEq</th>
              <th><strong>{{vm.data | filter:vm.search | filter:{machine:'Potting'} | sumField:'sumoutaeq' | number:2}}</strong> AEq</th>
              <th colspan="4"></th>
            </tr>
        </table>
        </div>
      </div>
    </section>


    <section class="module col-sm-12 col-md-12">
      <div class="module-body">

      <hr>

      </div>
    </section>
  </section>
</div>