<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Klórozók összesítő {{vm.startdatumszam}} 5:50-{{vm.enddatumszam}} 5:50</h1>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">Dátum</span>
            <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-6d" end="{{vm.edate}}">
            <span class="input-group-addon">-tól</span>
            <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="0d" end="{{vm.edate}}">
            <span class="input-group-addon">-ig</span>
            <div class="input-group-btn">
              <a href="" class="btn btn-primary" ng-click="vm.beilleszt()" ng-disabled="vm.startdate>=vm.enddate;vm.tload">Betöltés</a>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="input-group">
            <span class="input-group-addon">Egységek</span>
            <select ng-model="vm.actunit" class="form-control" ng-change="vm.setChart(vm.data,vm.actunit,vm.actclor,vm.actssh,vm.actesh)">
              <option value="">Mind</option>
              <option ng-repeat="item in vm.units" value="{{item}}">{{item}}</option>
            </select>
            <span class="input-group-addon">Klórozó</span>
            <select ng-model="vm.actclor" class="form-control" ng-change="vm.setChart(vm.data,vm.actunit,vm.actclor,vm.actssh,vm.actesh)">
              <option value="">Mind</option>
              <option ng-repeat="item in vm.selectclor" value="{{item.MachineName}}">{{item.MachineName}}</option>
            </select>
            <span class="input-group-addon">Kezdő szak</span>
            <select ng-model="vm.actssh" class="form-control" ng-change="vm.setChart(vm.data,vm.actunit,vm.actclor,vm.actssh,vm.actesh)">
              <option value="">Mind</option>
              <option ng-repeat="item in vm.shifts" value="{{item}}">{{item}}</option>
            </select>
            <span class="input-group-addon">Vége szak</span>
            <select ng-model="vm.actesh" class="form-control" ng-change="vm.setChart(vm.data,vm.actunit,vm.actclor,vm.actssh,vm.actesh)">
              <option value="">Mind</option>
              <option ng-repeat="item in vm.shifts" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-info progress-striped active" ng-hide="!vm.tload">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Betöltés</p>
        </div>
      </div>

      <my-chart id="col_chart" config="vm.chartconfig"></my-chart>
    </div>
    <div class="module-footer">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Modul</th>
            <th>Kezdő dátum</th>
            <th>Kezdő szak</th>
            <th>Klórozó</th>
            <th>Vége dátum</th>
            <th>Vége szak</th>
            <th>Típus</th>
          </tr>
        </thead>
        <tbody ng-repeat="dt in vm.data | orderBy:'CL_Start' |filter:{'MachineName':vm.actclor}|filter:{'Start_shift':vm.actssh}|filter:{'End_shift':vm.actesh} track by $index">
          <tr>
            <td>{{dt.JobID}}</td>
            <td>{{dt.CL_Start}}</td>
            <td>{{dt.Start_shift}}</td>
            <td>{{dt.MachineName}}</td>
            <td>{{dt.CL_End}}</td>
            <td>{{dt.End_shift}}</td>
            <td>{{dt.chem}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>