<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Impregnálás állásidők összesítése</h1>
      <div class="col-sm-8" style="margin-top:20px">
          <div class="input-group">
            <span class="input-group-addon">Kategória</span>
              <select class="form-control" ng-model="vm.cat" ng-change="vm.filterload()">
                <option value="">Mind</option>
                <option ng-repeat="ct in vm.categories" value="{{ct}}">{{ct}}</option>
              </select>
            <span class="input-group-addon">Dátum</span>
            <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="{{vm.startdate}}" end="{{vm.edate}}">
            <span class="input-group-addon">-tól</span>
            <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="{{vm.enddate}}" end="{{vm.edate}}">
            <span class="input-group-addon">-ig</span>
            <div class="input-group-btn">
              <a href="" class="btn btn-primary" ng-click="vm.filterload()" ng-disabled="vm.enddate<=vm.startdate">Betöltés</a>
            </div>
          </div>
        </div>
    </div>
    <div class="module-body">
        <my-chart id="chart" config="vm.chartconfig"></my-chart>
    </div>
    <div class="module-footer">
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nap</th>
                <th>Állás kezdete</th>
                <th>Allás vége</th>
                <th>Állásidő (perc)</th>
                <th>Kategória</th>
                <th>Megjegyzés</th>
                <th ng-show="user.username=='212557160' || user.username=='212434909'||user.username=='502678184' ||user.username=='212682321'">Törlés</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.guidata track by $index">
                <td>{{item.day}}</td>
                <td>{{item.start_date}}</td>
                <td>{{item.end_date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td ng-show="user.username=='212557160' || user.username=='212434909'||user.username=='502678184' ||user.username=='212682321'">
                    <button class="btn btn-danger" ng-click="vm.remove(item.id,$index)">
                      <i class="icon-trash"></i>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
    </div>
  </section>
</div>