<div class="container">
  <section class="module">
    <div class="module-header"><h1 class="text-center">Wip</h1>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-1"></div>
        <select ng-model="vm.actstat" ng-change="vm.load()">
					<option ng-repeat="item in vm.allstatus track by $index" value="{{item}}">{{item}}</option>
        </select>
        <select ng-model="vm.actpl" ng-change="vm.load()">
					<option ng-repeat="item in vm.allpl track by $index" value="{{item}}">{{item}}</option>
        </select>
        <select ng-model="vm.actpu" ng-change="vm.load()">
					<option ng-repeat="item in vm.allpu track by $index" value="{{item}}">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="module-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Prod_Desc</th>
              <th>Prod_Code</th>
              <th>Modul</th>
              <th>Machine</th>
              <th>Status</th>
              <th>timestamp</th>
              <th>initdate</th>
              <th>PO</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.data">
              <td>{{item.Prod_Desc}}</td>
              <td>{{item.Prod_Code}}</td>
              <td>{{item.Modul}}</td>
              <td>{{item.Machine}}</td>
              <td>{{item.Status}}</td>
              <td>{{item.timestamp}}</td>
              <td>{{item.initdate}}</td>
              <td>{{item.PO}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="module-footer"></div>
  </section>
</div>