<div class="container">
  <section class="module-snapshot col-sm-12 col-md-12">
    <div class="row">
      <section class="module nestable col-sm-9 col-md-9">
        <header class="module-header">
          <h3 class="voice voice-brand pull-left">Wip Report</h3>
        </header>
        <div class="module-body">
          <mychart config="vm.wipchart" id="wipchart"></mychart>
        </div>
        <footer class="module-footer"></footer>
      </section>
      <section class="module nestable col-sm-3 col-md-3">

        <div class="module-body">
          <h2 class="voice voice-brand">Heti Wip jelentés</h2>
          <p>
            Kérlek válassz az alábbi dátum mezőkből kijelezni kívánt időszakot.
          </p>
          <hr>
          <div>
            <h2 class="voice voice-brand">Szűrő</h2>
            <div class="input-group col-sm-12">
              <span class="input-group-addon">Dátumtól:</span>
              <input type="text" class="form-control datepicker" ng-model="vm.startdate" setdate="-6d">
            </div>
            <div class="input-group col-sm-12">
              <span class="input-group-addon">Dátumtig:</span>
              <input type="text" class="form-control datepicker" ng-model="vm.enddate" setdate="0d">
            </div>
            <div class="button-group">
              <button class="btn btn-info" ng-click="vm.filter();"><i class="icon icon-filter"></i> Szűrés</button>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>
</div>