<!--direktíva-->
<div class="pottdir">
    <div class="title">
        <h1>{{data.potting}}</h1>
    </div>
    <hr class="myrule">
    <div class="content-text-center">
        <h2 class="badge badge-info mybadge">BE</h2>

        <div class="col-sm-6 text-center">
            <h1>{{data.beaeq |number:2}}</h1> <span style="display: block">AEQ</span>
        </div>
        <div class="col-sm-6 text-center">
            <h1>{{data.bedb |number:0}}</h1> <span style="display: block">Modul</span>
        </div>
        <div class="clearfix"></div>
        <hr class="myrule">
        <h2 class="badge badge-warning mybadge">Ford</h2>
        <div class="col-sm-6 text-center">
            <h1>{{data.p3aeq |number:2}}</h1> <span style="display: block">AEQ</span>
        </div>
        <div class="col-sm-6 text-center">
            <h1>{{data.p3db |number:0}}</h1> <span style="display: block">Modul</span>
        </div>
        <div class="clearfix"></div>
        <hr class="myrule">
        <h2 class="badge badge-success mybadge">Ki</h2>
        <div class="col-sm-6 text-center">
            <h1>{{data.kiaeq |number:2}}</h1> <span style="display: block">AEQ</span>
        </div>
        <div class="col-sm-6 text-center">
            <h1>{{data.kidb |number:0}}</h1> <span style="display: block">Modul</span>
        </div>
        <div class="clearfix"></div>
        <hr class="myrule">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#{{data.potting}}">Szakos lebontás <i class="icon-chevron-down"></i></h2>
            </div>
            <div class="collapse" id="{{data.potting}}">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center">{{data.szakde}} Szak</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h2 class="badge badge-info mybadge">BE</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.debeaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.debedb |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-warning mybadge">Ford</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.dep3aeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.dep3db |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-success mybadge">Ki</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.dekiaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.dekidb |number:0}} Modul</h3>
                        </div>
                    </div>
                </div>
                
                <div class="row" ng-show="data.szakdu">
                    <div class="col-sm-12">
                        <h2 class="text-center">{{data.szakdu}} Szak</h2>
                    </div>
                </div>
                <div class="row" ng-show="data.szakdu">
                    <div class="col-sm-4">
                        <h2 class="badge badge-info mybadge">BE</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.dubeaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.dubedb |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-warning mybadge">Ford</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.dup3aeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.dup3db |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-success mybadge">Ki</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.dukiaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.dukidb |number:0}} Modul</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center">{{data.szakej}} Szak</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h2 class="badge badge-info mybadge">BE</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.ejbeaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.ejbedb |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-warning mybadge">Ford</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.ejp3aeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.ejp3db |number:0}} Modul</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="badge badge-success mybadge">Ki</h2>
                        <div class="col-sm-12" style="margin-top:10px">
                            <h3 class="text-center">{{data.ejkiaeq |number:2}} AEQ</h3>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="text-center">{{data.ejkidb |number:0}} Modul</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>