<!--direktíva-->
<div class="pottdir">
    <div class="title">
        <h1>{{data.potting}}</h1>
    </div>
    <hr class="myrule">
    <div class="content-text-center">
        <h2 class="badge badge-info mybadge">BE</h2>
        
        <div class="col-sm-8">
            <h3>{{data.beaeq}} AEQ</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{data.bedb |number:0}} Modul</h3>
        </div>
        <div class="clearfix"></div>
        <hr class="myrule">
        <h2 class="badge badge-warning mybadge">Ford</h2>
        <div class="col-sm-8">
            <h3>{{data.p3aeq}} AEQ</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{data.p3db |number:0}} Modul</h3>
        </div>
        <div class="clearfix"></div>
        <hr class="myrule">
        <h2 class="badge badge-success mybadge">Ki</h2>
        <div class="col-sm-8">
            <h3>{{data.kiaeq}} AEQ</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{data.kidb |number:0}} Modul</h3>
        </div>
        <div class="clearfix"></div>
      
    </div>
    <div class="clearfix"></div>
</div>