<!--direktíva-->
<div class="smdir">
    <div class="title">
        <h1>{{data.sm}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h3>Állásidővel csökkentett</h3>
            <h3>Kapacitás: {{data.kap|number:1}} AEQ</h3>
            <h3>Tény:{{data.joaeq|number:1}} AEQ</h3>
        </div>
        <div class="col-sm-5">
            <h3 class="text-center">Teljesítmény</h3>
            <h2 class="text-center">{{(data.joaeq/data.kap*100)|number:2}} %</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h3>Összes lap: {{data.osszlap}} db={{data.osszaeq|number:1}} AEQ</h3>
            <h3>Jó lap: {{data.jolap}} db={{data.joaeq|number:1}} AEQ</h3>
            <h3>Selejt lap: {{data.osszlap-data.jolap}} db={{data.osszaeq-data.joaeq|number:1}} AEQ</h3>
        </div>
        <div class="col-sm-5">
            <h3 class="text-center">Minőség</h3>
            <h2 class="text-center">{{(data.jolap/data.osszlap*100)|number:2}} %</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <h3>Állás: {{data.downtime | number:0}} perc</h3>
            <h3>Szervezési: {{data.szervezesi | number:0}} perc {{(data.szervezesi/data.downtime)*100 | number:2}} %</h3>
            <h3>Tervezett: {{data.tervezesi | number:0}} perc {{(data.tervezesi/data.downtime)*100 | number:2}} %</h3>
            <h3>Müszaki: {{data.muszaki | number:0}} perc {{(data.muszaki/data.downtime)*100 | number:2}} %</h3>
        </div>
        <div class="col-sm-5">
            <h3 class="text-center">Elérhetőség</h3>
            <h2 class="text-center">{{((data.alltime-data.downtime)/data.alltime*100)|number:2}} %</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#{{data.sm}}">Szakos lebontás
                <i class="icon-chevron-down"></i>
            </h2>
        </div>
    </div>
    <div class="collapse" id="{{data.sm}}">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">{{data.szakde}} Szak</h2>
            </div>
            <div class="col-sm-7">
                <h3>Összes lap: {{data.deosszlap}} db={{data.deosszaeq|number:1}} AEQ</h3>
                <h3>Jó lap: {{data.dejolap}} db={{data.dejoaeq|number:1}} AEQ</h3>
                <h3>Selejt lap: {{data.deosszlap-data.dejolap}} db={{data.deosszaeq-data.dejoaeq|number:1}} AEQ</h3>
            </div>
            <div class="col-sm-5">
                <h3 class="text-center">Minőség</h3>
                <h2 class="text-center">{{(data.dejolap/data.deosszlap*100)|number:2}} %</h2>
            </div>
        </div>
        <div class="row" ng-show="data.szakdu">
            <div class="col-sm-12">
                <h2 class="text-center">{{data.szakdu}} Szak</h2>
            </div>
            <div class="col-sm-7">
                <h3>Összes lap: {{data.duosszlap}} db={{data.duosszaeq|number:1}} AEQ</h3>
                <h3>Jó lap: {{data.dujolap}} db={{data.dujoaeq|number:1}} AEQ</h3>
                <h3>Selejt lap: {{data.duosszlap-data.dujolap}} db={{data.duosszaeq-data.dujoaeq|number:1}} AEQ</h3>
            </div>
            <div class="col-sm-5">
                <h3 class="text-center">Minőség</h3>
                <h2 class="text-center">{{(data.dujolap/data.duosszlap*100)|number:2}} %</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">{{data.szakej}} Szak</h2>
            </div>
            <div class="col-sm-7">
                <h3>Összes lap: {{data.ejosszlap}} db={{data.ejosszaeq|number:1}} AEQ</h3>
                <h3>Jó lap: {{data.ejjolap}} db={{data.ejjoaeq|number:1}} AEQ</h3>
                <h3>Selejt lap: {{data.ejosszlap-data.ejjolap}} db={{data.ejosszaeq-data.ejjoaeq|number:1}} AEQ</h3>
            </div>
            <div class="col-sm-5">
                <h3 class="text-center">Minőség</h3>
                <h2 class="text-center">{{(data.ejjolap/data.ejosszlap*100)|number:2}} %</h2>
            </div>
        </div>
    </div>
    <div class="oee">
        <div class="progress progress-info">
            <div class="progress-bar" ng-style="width:{{data.joaeq/data.kap*100}}%">Teljesítmény</div>
        </div>
        <div class="progress progress-warning">
            <div class="progress-bar" ng-style="width:{{data.jolap/data.osszlap*100}}%">Minőség</div>
        </div>
        <div class="progress progress-success">
            <div class="progress-bar" ng-style="width:{{(data.alltime-data.downtime)/data.alltime*100}}%">Elérhetőség</div>
        </div>
        <hr class="myrule">
        <div class="progress progress-danger">
            <div class="progress-bar" ng-style="width:{{(data.joaeq/data.kap)*(data.jolap/data.osszlap)*((data.alltime-data.downtime)/data.alltime)*100}}%">OEE</div>
        </div>
        <h2 class="text-center">OEE {{(data.joaeq/data.kap)*(data.jolap/data.osszlap)*((data.alltime-data.downtime)/data.alltime)*100 | number:2}}
            %
        </h2>
    </div>
    <div class="clearfix"></div>
</div>