<div class="container">
	<section class="module">
		<div class="module-header">
			<h1 class="text-center">Modulgyártási lapok</h1>
			<div class="tray filter-tray top" style="margin-top:10px">
				<div class="tray-inner">
					<div class="filter-rule-group">

						<div class="col-sm-4">
							<div class="form-group">
								<span class="control-label" style="color:#FFFFFF">Cikkszám</span>
								<select class="form-control" ng-model="vm.part">
							      <option ng-repeat="item in vm.partnumbers" value="{{item.id}}">{{item.id}} - {{item.name}}</option>
						</select>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<span class="control-label" style="color:#FFFFFF">Szériaszám</span>
								<input class="form-control" type="text" ng-model="vm.valid" ng-change="vm.check(vm.valid)" maxlength="10">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<button class="btn btn-info" style="margin-top:20px" ng-click="vm.create_code(vm.valid)" ng-disabled="!vm.beviheto || !vm.part || vm.loading">Lekérdezés</button>
							</div>
						</div>
					</div>
				</div>
				<h2 class="text-center" style="color:#FFFFFF"> Lekérdezett adagszám: {{vm.code}}</h2>
			</div>
		</div>
		<div class="module-body">
			<div class="progress progress-warning progress-striped active" ng-hide="!vm.loading">
				<div class="progress-bar" style="width: 100%">
					<p class="text-center">Betöltés...</p>
				</div>
			</div>
			<div ng-show="user.displayname && (user.username=='212434909'|| user.username=='502678184' || user.username=='212319674' || user.username=='113007549' || user.username=='113011028' || user.username=='113009480' || user.username=='113005514' || user.username=='113005858' || user.username=='113005432' || user.username=='113005836' || user.username=='212422533' || user.username=='212557160')">
				<button class="btn btn-default pull-right" ng-class="{'btn-info':vm.show}" ng-click="vm.show=!vm.show">Felvitel</button>
				<div ng-show="vm.show">
					<div class="col-sm-12" style="margin-top:20px">
						<ul class="nav nav-tabs" style="margin-top:10px">
							<li ng-repeat="item in vm.alleventtype track by $index">
								<a data-toggle="tab" href="" ng-click="vm.eventtype=item;">{{item}}</a>
							</li>
						</ul>
						<div class="input-group">
							<span class="input-group-addon">SSO</span>
							<input type="text" class="form-control" ng-model="user.username" readonly>
							<span class="input-group-addon">Név</span>
							<input type="text" class="form-control" ng-model="user.displayname" readonly>
							<span class="input-group-addon">Dátum</span>
							<input type="text" class="form-control" ng-model="vm.datum" readonly>
							<span class="input-group-addon">Terület</span>
							<input type="text" class="form-control" ng-model="vm.eventtype" readonly>
							<span class="input-group-addon">Modul</span>
							<input type="text" class="form-control" ng-model="vm.code" readonly>
						</div>
						<div class="input-group" style="margin-top:20px">
							<span class="input-group-addon">Megjegyzés</span>
							<textarea class="form-control" rows="4" ng-model="vm.description"></textarea>
						</div>
						<div class="col-sm-4" style="margin-top:10px">
							<button class="btn btn-success" ng-click="vm.save()" ng-disabled="vm.code==''">Feltölt</button>
							<div class="alert alert-success" ng-show="vm.showmessage">
								<strong>Sikeres felvitel!</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<table class="table">
					<tr ng-repeat="d in vm.d">
						<th class="text-right">{{d.name}}:</th>
						<td>{{d.value}}</td>
					</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#map">Bökés Térkép
				<i class="icon-chevron-down"></i>
			</h3>
			<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#megj">Megzegyzés a modulhoz
				<i class="icon-chevron-down"></i>
			</h3>
		</div>
		<div class="module-footer">
			<div class="collapse" id="map">
				<div class="col-sm-6">
					<div class="container">
						<div class="modMap">
							<div class="row" ng-repeat="sor in vm.sorok track by $index">
								<div ng-if="sor == '1' || sor == '8'">
									<div ng-repeat="oszlop in vm.oszlop track by $index" class="blue">{{ (vm.soroszlopbokes|filter:{'azon':oszlop + sor})[0].bokes | number:0 }}</div>
								</div>
								<div ng-if="sor=='2' || sor=='6'">
									<div ng-repeat="oszlop in vm.oszlop track by $index" ng-if="oszlop!='E'" class="yellow">{{ (vm.soroszlopbokes|filter:{'azon':oszlop + sor})[0].bokes | number:0 }} </div>
								</div>
								<div ng-if="sor=='3' || sor=='5'">
									<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" class="black">{{ (vm.soroszlopbokes|filter:{'azon':oszlop + sor})[0].bokes | number:0 }} </div>
								</div>
								<div ng-if="sor=='4'">
									<div ng-repeat="oszlop in ['A','B','C','D'] track by $index" class="red">{{ (vm.soroszlopbokes|filter:{'azon':oszlop + sor})[0].bokes | number:0 }} </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="collapse" id="megj">
				<div class="col-sm-12">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>SSO</th>
								<th>Név</th>
								<th>Dátum</th>
								<th>Terület</th>
								<th>Modul</th>
								<th>Megjegyzés</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in vm.planlist">
								<td>{{item.sso}}</td>
								<td>{{item.name}}</td>
								<td>{{item.date}}</td>
								<td>{{item.eventtype}}</td>
								<td>{{item.modul}}</td>
								<td>{{item.description}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>