<div class="container">
  <section class="module">
    <div class="module-header">
      <div class="col-sm-12" style="margin-top:20px">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Dátum</span>
            <input type="text" class="datepicker form-control" ng-model="vm.date" setdate="-1d" end="{{vm.edate}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group myselector">
            <select multiple="multiple" class="form-control" ng-model="vm.sheetmakers">
              <option value="SM1">SM1</option>
              <option value="SM2">SM2</option>
              <option value="SM4">SM4</option>
              <option value="SM5">SM5</option>
              <option value="SM6">SM6</option>
              <option value="SM7">SM7</option>
              <option value="SM8">SM8</option>
              <option value="SM9">SM9</option>
            </select>
            <span class="input-group-addon">gépek</span>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 text-center">
          <a href="" class="btn btn-primary" ng-click="vm.create_allday_data();vm.callsm()" ng-disabled="vm.startdate>vm.enddate">Betöltés</a>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-success progress-striped active" ng-hide="!vm.loading">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Frissítés...</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Gép</th>
                <th>Kieső idő</th>
                <th>Tervezett veszteség</th>
                <th>Szervezési veszteség</th>
                <th>Műszaki technikai okok</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="s in vm.sm">
                <td ng-show="s.id!='SMS'">{{s.id}}</td>
                <td ng-show="s.id!='SMS'">{{(s.timediff/s.alltime)*100|number:2}}%</td>
                <td ng-show="s.id!='SMS'">{{(s.terv/s.alltime)*100|number:2}} %</td>
                <td ng-show="s.id!='SMS'">{{(s.szerv/s.alltime)*100|number:2}} %</td>
                <td ng-show="s.id!='SMS'">{{(s.musz/s.alltime)*100|number:2}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Veszteségek</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="s in vm.sm">
                <th ng-show="s.id=='SMS'">Kieső idő</th>
                <td ng-show="s.id=='SMS'">{{(s.timediff/s.alltime)*100|number:2}}%</td>
              </tr>
              <tr ng-repeat="s in vm.sm">
                <th ng-show="s.id=='SMS'">Tervezett veszteség</th>
                <td ng-show="s.id=='SMS'"><span class="{{s.terv/s.alltime*100 <= 13?'text-ge-green':'text-ge-red'}}">{{(s.terv/s.alltime)*100|number:2}}
                    %</span></td>
              </tr>
              <tr ng-repeat="s in vm.sm">
                <th ng-show="s.id=='SMS'">Szervezési veszteség</th>
                <td ng-show="s.id=='SMS'"><span class="{{s.szerv/s.alltime*100 <= 3?'text-ge-green':'text-ge-red'}}">{{(s.szerv/s.alltime)*100|number:2}}
                    %</span></td>
              </tr>
              <tr ng-repeat="s in vm.sm">
                <th ng-show="s.id=='SMS'">Műszaki technikai okok</th>
                <td ng-show="s.id=='SMS'"><span class="{{s.musz/s.alltime*100 <= 13?'text-ge-green':'text-ge-red'}}">{{(s.musz/s.alltime)*100|number:2}}
                    %</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th colspan="5" class="text-center">Napi összes (AEQ)</th>
              </tr>
              <tr>
                <th>Mennyiség</th>
                <th>500</th>
                <th>ZB/ZL</th>
                <th>ZW</th>
                <th>Terv</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SM</td>
                <td>{{vm.daydata[0].otszaz|number:2}}</td>
                <td>{{vm.daydata[0].zbzl|number:2}}</td>
                <td><span class="{{vm.daydata[0].osszes >= vm.smtarget?'text-ge-green':'text-ge-red'}}">{{vm.daydata[0].osszes|number:2}}</span></td>
                <td><input type="text" ng-model="vm.smtarget"></td>
              </tr>
              <tr>
                <td>BP</td>
                <td>{{vm.daydata[0].otszazbp|number:2}}</td>
                <td>{{vm.daydata[0].zbzlbp|number:2}}</td>
                <td><span class="{{vm.daydata[0].osszesbp >= vm.bptarget?'text-ge-green':'text-ge-red'}}">{{vm.daydata[0].osszesbp|number:2}}</span></td>
                <td><input type="text" ng-model="vm.bptarget"></td>
              </tr>
              <tr>
                <td>MIN</td>
                <td>{{vm.daydata[0].minotszaz|number:2}}</td>
                <td>{{vm.daydata[0].minzbzl|number:2}}</td>
                <td><span class="{{vm.daydata[0].minosszes >= vm.smtarget?'text-ge-green':'text-ge-red'}}">{{vm.daydata[0].minosszes|number:2}}</span></td>
                <td><input type="text" ng-model="vm.mintarget"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2">
          <div class="input-group-btn">
            <a class="btn btn-info" ng-click="vm.exportToCSV()">Adatok mentése</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-footer">
      <div class="col-sm-10">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th colspan="3" class="text-center">Veszteség kategóriák</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Tervezett veszteség (kategóriák)</th>
              <th>Idő (perc)</th>
              <th>Megjegyzés</th>
            </tr>
            <tr ng-repeat="tv in vm.tervezett track by $index">
              <td ng-show="tv.time>0">{{tv.name}}</td>
              <td ng-show="tv.time>0">{{tv.time/60|number:0}}</td>
              <td ng-show="tv.time>0"><textarea class="form-control" rows="1"  ng-model="tv.descr">{{tv.descr}}</textarea></td>
            </tr>
            <tr>
              <th>Szervezési veszteség (kategórák)</th>
              <th>Idő (perc)</th>
              <th>Megjegyzés</th>
            </tr>
            <tr ng-repeat="sv in vm.szervezesi track by $index">
              <td ng-show="sv.time>0">{{sv.name}}</td>
              <td ng-show="sv.time>0">{{sv.time/60|number:0}}</td>
              <td ng-show="sv.time>0"><textarea class="form-control" rows="1"  ng-model="sv.descr">{{sv.descr}}</textarea></td>
            </tr>
            <tr>
              <th>Műszaki technikai okok (kategóriák)</th>
              <th>Idő (perc)</th>
              <th>Megjegyzés</th>
            </tr>
            <tr ng-repeat="mto in vm.muszaki track by $index">
              <td ng-show="mto.time>0">{{mto.name}}</td>
              <td ng-show="mto.time>0">{{mto.time/60|number:0}}</td>
              <td ng-show="mto.time>0"><textarea class="form-control" rows="1" ng-model="mto.descr">{{mto.descr}}</textarea></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-2">
        <div class="input-group-btn">
          <a class="btn btn-primary" ng-click="vm.clr()">Megjegyzés törlése</a>
        </div>
      </div>
    </div>
  </section>
</div>