<div class="container">
  <section class="module">
    <div class="module-header">
      <div class="col-sm-12" style="margin-top:20px">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Dátum</span>
            <input type="text" class="datepicker form-control" ng-model="vm.date" setdate="-1d" end="{{vm.edate}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group myselector">
            <select multiple="multiple" class="form-control" ng-model="vm.sheetmakers">
              <option value="SM1">SM1</option>
              <option value="SM2">SM2</option>
              <option value="SM4">SM4</option>
              <option value="SM5">SM5</option>
              <option value="SM6">SM6</option>
              <option value="SM7">SM7</option>
              <option value="SM8">SM8</option>
              <option value="SM9">SM9</option>
            </select>
            <span class="input-group-addon">gépek</span>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 text-center">
          <a href="" class="btn btn-primary" ng-click="vm.callsm()" ng-disabled="vm.startdate>vm.enddate">Betöltés</a>
        </div>
        <div class="col-sm-2> col-sm-offset-3 text-right" ng-show="(user.username=='113010451' || user.username=='212434909' || user.username=='212422533' || user.username=='212557160')">
          <a href="app/components/PHP/sumsmjson.php?startdate={{vm.startdate}}" class="btn btn-info" ng-disabled="vm.startdate!=vm.enddate"
            target="_blank">Frissítés</a>
        </div>
      </div>
    </div>
    <div class="module-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Gép</th>
            <th>Kieső idő</th>
            <th>Tervezett veszteség</th>
            <th>Szervezési veszteség</th>
            <th>Műszaki technikai okok</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in vm.sm">
            <td>{{s.id}}</td>
            <td>{{(s.timediff/s.alltime)*100|number:2}}%</td>
            <td>{{(s.terv/s.alltime)*100|number:2}} %</td>
            <td>{{(s.szerv/s.alltime)*100|number:2}} %</td>
            <td>{{(s.musz/s.alltime)*100|number:2}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="module-footer">
      <div class="col-sm-6">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">Veszteség kategóriák</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Tervezett veszteség (kategóriák)</th>
              <th>Idő (perc)</th>
            </tr>
            <tr ng-repeat="tv in vm.tervezett track by $index">
              <td ng-show="tv.time>0">{{tv.name}}</td>
              <td ng-show="tv.time>0">{{tv.time/60|number:0}}</td>
            </tr>
            <tr>
              <th>Szervezési veszteség (kategórák)</th>
              <th>Idő (perc)</th>
            </tr>
            <tr ng-repeat="sv in vm.szervezesi track by $index">
              <td ng-show="sv.time>0">{{sv.name}}</td>
              <td ng-show="sv.time>0">{{sv.time/60|number:0}}</td>
            </tr>
            <tr>
              <th>Műszaki technikai okok (kategóriák)</th>
              <th>Idő (perc)</th>
            </tr>
            <tr ng-repeat="mto in vm.muszaki track by $index">
              <td ng-show="mto.time>0">{{mto.name}}</td>
              <td ng-show="mto.time>0">{{mto.time/60|number:0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>