<div class="container-fluid">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Potting Report-{{vm.datum}}</h1>
      <ul class="nav nav-tabs" style="margin-top:10px">
<li ng-repeat="item in vm.allpotting track by $index">
  <a data-toggle="tab" href="" ng-click="vm.mch=item;vm.load(vm.mch,vm.datum)">{{item}}</a>
</li>
</ul>
<h1 class="text-center" style="margin-top:10px">{{vm.mch}}</h1>
<div class="col-sm-4" style="margin-top:10px">
<div class="input-group">
  <span class="input-group-addon">Dátum:</span>
  <input type="text" class="datepicker form-control" ng-model="vm.datum">
  <div class="input-group-btn">
    <a href="" class="btn btn-info" ng-click="vm.load(vm.mch,vm.datum)">Betöltés</a>
  </div>
</div>
</div>
</div>
<div class="module-body">
  <hr>
  <div class="row">
    <h1>Délelőtt</h1>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>
<div class="module-footer"></div>
</section>
</div>