<div class="container-fluid">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Potting Report-{{vm.datum}}</h1>
      <ul class="nav nav-tabs" style="margin-top:10px">
<li ng-repeat="item in vm.allpotting track by $index">
  <a data-toggle="tab" href="" ng-click="vm.mch=item;vm.load(vm.mch,vm.datum)">{{item}}</a>
</li>
</ul>
<h1 class="text-center" style="margin-top:10px">{{vm.mch}}</h1>
<div class="col-sm-4" style="margin-top:10px">
<div class="input-group">
  <span class="input-group-addon">Dátum:</span>
  <input type="text" class="datepicker form-control" ng-model="vm.datum">
  <div class="input-group-btn">
    <a href="" class="btn btn-info" ng-click="vm.load(vm.mch,vm.datum)">Betöltés</a>
  </div>
</div>
</div>
</div>
<div class="module-body">
  <hr>


  <div class="row">
    <h1>Délelőtt</h1>
  </div>
  <div class="row" style="margin-top:30px">
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.suminpotting_de}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.suminpotting_de_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#inpotting_de">POTTING BE részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="inpotting_de">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.inpotting_de" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sump3potting_de}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sump3potting_de_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#p3potting_de">POTTING FORDÍTÁS részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="p3potting_de">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.p3potting_de" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sumoutpotting_de}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sumoutpotting_de_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#outpotting_de">POTTING KI részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="outpotting_de">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.outpotting_de" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<hr>


<div class="row">
  <h1>Délután</h1>
</div>
<div class="row" style="margin-top:30px">
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.suminpotting_du}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.suminpotting_du_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#inpotting_du">POTTING BE részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="inpotting_du">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.inpotting_du" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sump3potting_du}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sump3potting_du_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#p3potting_du">POTTING FORDÍTÁS részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="p3potting_du">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.p3potting_du" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sumoutpotting_du}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sumoutpotting_du_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#outpotting_du">POTTING KI részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="outpotting_du">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.outpotting_du" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<hr>


<div class="row">
  <h1>Éjszaka</h1>
</div>
<div class="row" style="margin-top:30px">
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.suminpotting_ej}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.suminpotting_ej_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#inpotting_ej">POTTING BE részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="inpotting_ej">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.inpotting_ej" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sump3potting_ej}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sump3potting_ej_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#p3potting_ej">POTTING FORDÍTÁS részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="p3potting_ej">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.p3potting_ej" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4">
  <h1 class="text-center" style="font-size:6em">{{vm.sumoutpotting_ej}}
<br>
<small style="font-size:20px">db</small>
</h1>
<h2 class="text-center">
  {{vm.sumoutpotting_ej_aeq}}
  <small>AEQ</small>
</h2>
<h3 class="text-center" style="cursor:pointer" data-toggle="collapse" data-target="#outpotting_ej">POTTING KI részletek
<i class="icon-chevron-right"></i>
</h3>
<div class="collapse" id="outpotting_ej">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Darab</th>
        <th>AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.outpotting_ej" class="ng-scope">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.aeq | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<div class="module-footer"></div>
</section>
</div>