<div class="container-fluid">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Bökés összesítés modulonként {{vm.startdatumszam}}-{{vm.enddatumszam}}</h1>
      <div class="col-sm-6" style="margin-top:10px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input type="text" class="datepicker form-control" ng-model="vm.startdatum" setdate="-6d" end="{{vm.edate}}">
          <span class="input-group-addon">-tól</span>
          <input type="text" class="datepicker form-control" ng-model="vm.enddatum" setdate="0d" end="{{vm.edate}}">
          <span class="input-group-addon">-ig</span>
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.load();vm.beilleszt()" ng-disabled="vm.enddatum<=vm.startdatum;vm.mtfload">Betöltés</a>
          </div>
        </div>
      </div>
      <a href="" class="btn btn-info pull-right" ng-click="vm.downloaddata()" ng-disabled="vm.enddatum<=vm.startdatum;vm.mtfload">Adatok Letöltése</a>
    </div>
    <div class="module-body">
      <div class="progress progress-info progress-striped active" ng-hide="!vm.mtfload">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Betöltés</p>
        </div>
      </div>

      <div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Bökés határ:</span>
            <input type="text" ng-model="vm.bokeshatar" class="form-control">
            <span class="input-group-addon">felett összesen: {{ (vm.moddate | filter:vm.greater('amount', vm.bokeshatar)).length}} modul van</span>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top:20px">
          <div class="tray filter-tray top">
            <div class="tray-inner">
              <div class="filter-rule-group">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <span class="control-label" style="color:#FFFFFF">Típus</span>
                      <select ng-model="search.modtype" class="form-control">
                        <option value="">Mind</option>
                        <option ng-repeat="item in vm.moddate|unique:'modtype'" value="{{item.modtype}}">{{item.modtype}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <span class="control-label" style="color:#FFFFFF">SheetMaker</span>
                      <select ng-model="search.sheetmaker" class="form-control ng-pristine ng-untouched ng-valid">
                        <option value="">Mind</option>
                        <option ng-repeat="sm in vm.sheetmakers" value="{{sm}}">{{sm}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <span class="control-label" style="color:#FFFFFF">Ford. op.</span>
                      <input type="text" ng-model="search.rot" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <span class="control-label" style="color:#FFFFFF">Kenés. ID.</span>
                      <input type="text" ng-model="search.kenesid" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <span class="input-group-addon">Táblázatban lévő bökések száma: {{ vm.moddate| filter:vm.greater('amount', vm.bokeshatar)| filter: search
                    | sumField:'amount' }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-hover table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-center">Modul ID</th>
                <th class="text-center">Név</th>
                <th class="text-center">SheetMaker</th>
                <th class="text-center">SM operátor</th>
                <th class="text-center">Kenés ID</th>
                <th class="text-center">Potting</th>
                <th class="text-center">Gél Prep. op.</th>
                <th class="text-center">Gél Prep. dátum</th>
                <th class="text-center">Gél Prep. szak</th>
                <th class="text-center">Ford. op.</th>
                <th class="text-center">Ford. dátum</th>
                <th class="text-center">Ford. szak</th>
                <th class="text-center">Kád</th>
                <th class="text-center">Bökés</th>
                <th class="text-center">Bökés/AEQ</th>
                <th class="text-center">Hiba megnevezése</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.moddate| filter:vm.greater('amount', vm.bokeshatar)| orderBy:'-amount' | filter: search track by $index">
                <!--td align="center">{{item.modul_id1}}</td-->
                <td align="center"><a class="btn btn-large btn-info" target="_blank" href="../modulhistory/#/history/{{item.modul_id1}}">{{item.modul_id1}}</a></td>
                <td align="center">{{item.modtype}}</td>
                <td align="center">{{item.sheetmaker}}</td>
                <td align="center">{{item.smop}}</td>
                <td align="center">{{item.kenesid}}</td>
                <td align="center">{{item.potting}}</td>
                <td align="center">{{item.gelprep}}</td>
                <td align="center">{{item.geldate}}</td>
                <td align="center">{{item.gelshift}}</td>
                <td align="center">{{item.rot}}</td>
                <td align="center">{{item.rotdate}}</td>
                <td align="center">{{item.rotshift}}</td>
                <td align="center">{{item.tank}}</td>
                <td align="center">{{item.amount}}</td>
                <td align="center">{{(item.amount/item.aeq)| number:2}}</td>
                <td align="center">{{item.KatName1}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="module-footer"></div>
  </section>
</div>