<div class="container">
	<section>
		<div class="module-header">
			<h1 class="text-center">Modulgyártási lap lekérdezése</h1>
		</div>
		<div class="module-body" style="margin-top:20px">
			<div class="tray filter-tray top">
				<div class="tray-inner">
					<div class="filter-rule-group">

						<div class="col-sm-4">
							<div class="form-group">
								<span class="control-label" style="color:#FFFFFF">Cikkszám</span>
								<select class="form-control" ng-model="vm.part">
							<option ng-repeat="item in vm.egyedi" value="{{item.id}}">{{item.id}} - {{item.name}}</option>
						</select>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<span class="control-label" style="color:#FFFFFF">Szériaszám</span>
								<input class="form-control" type="text" ng-model="vm.valid" ng-change="vm.check(vm.valid)" maxlength="10">
							</div>

						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<button class="btn btn-info" style="margin-top:20px" ng-click="vm.create_code(vm.valid)" ng-disabled="vm.beviheto==false || !vm.part || vm.dis">Lekérdezés</button>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div>
				<!-- col-1 !-->
				<div class="col-sm-6">
					<table class="table table-condensed">
						<tr style="color:#00cc00">
							<td style="color:#000000">Lapgyártás</td>
							<td>Lapgyártó száma:</td>
							<td>Dátum:</td>
							<td>Gépk.Op ID:</td>
						</tr>
						<tr style="color:#00cc00">
							<td>Keret/oldal:</td>
							<td>Fésű:</td>
							<td>Eltáv. szálak:</td>
							<td>Hot melt lot:</td>
						</tr>
					</table>
					<h5 style="color:#0033cc">*Lapellenőrzés:"Lapdurrogtatás":ha volt,talált hibák száma feltüntetendő</h5>
					<h5>Spool ID:</h5>
					<div class="col-sm-6" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td>1</td>
								<td></td>
								<td>2</td>
								<td></td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td></td>
								<td>5</td>
								<td></td>
								<td>6</td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-3" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td style="color:#00cc00">Szálkenési ID</td>
								<td style="color:#0033cc">Lap ell*</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-3" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td>Op ID</td>
								<td>Műszak</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td>1</td>
								<td></td>
								<td>2</td>
								<td></td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td></td>
								<td>5</td>
								<td></td>
								<td>6</td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-3" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td style="color:#00cc00">Szálkenési ID</td>
								<td style="color:#0033cc">Lap ell*</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-3" style="height:80px;owerflow:hidden">
						<table class="table table-bordered" style="height:80px;background-color:#ffffff">
							<tr>
								<td>Op ID</td>
								<td>Műszak</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<h5>Szárítóba lépés:</h5>
					<table class="table table-condensed">
						<tr style="color:#00cc00">
							<td>Dátum:</td>
							<td>Idő:</td>
							<td>Op.ID:</td>
							<td>Műsz:</td>
						</tr>
					</table>
					<table class="table table-condensed">
						<tr>
							<td>Tokozás:</td>
							<td>POT ID:</td>
						</tr>
					</table>
					<div class="col-sm-6">
						<h5>Első öntés:</h5>
						<table class="table table-bordered" style="background-color:#ffffff">
							<tr>
								<td style="color:#00cc00">Esztétikai öntés,(op.ID/szak)</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Idő</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Dátum/Műszak</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Előkészítő</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Tokozó</td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6">
						<h5>Második öntés:</h5>
						<table class="table table-bordered" style="background-color:#ffffff">
							<tr>
								<td style="color:#00cc00">Esztétikai öntés,(op.ID/szak)</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Idő</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Dátum/Műszak</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Előkészítő</td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Tokozó</td>
								<td></td>
							</tr>
						</table>
					</div>
					<table class="table table-condensed">
						<tr style="color:#00cc00">
							<td style="color:#000000">Kilépés a pottingból</td>
							<td>Dátum:</td>
							<td>Idő:</td>
							<td>Op.ID:</td>
							<td>Műsz.:</td>
						</tr>
					</table>
					<h5 style="text-align:center">Modul tesztelés</h5>
					<table class="table table-bordered" style="background-color:#ffffff">
						<tr>
							<td style="color:#00cc00">Klórozás</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Dátum</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Op ID</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Kád</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Rekesz</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Indítás</td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Befejezés</td>
							<td></td>
						</tr>
					</table>
					<!-- col-2 !-->
				</div>
				<div class="col-sm-6">
					<table class="table table-condensed">
						<tr>
							<td>Buborékpont ellenőrzés</td>
							<td style="color:#00cc00">FLOw esetében max. 3 teszt végezhető!</td>
						</tr>
					</table>
					<table class="table table-bordered" style="background-color:#ffffff">
						<tr style="color:#00cc00">
							<td></td>
							<td>uretán t.</td>
							<td>teszt2</td>
							<td>teszt3</td>
							<td>teszt4</td>
							<td>teszt5</td>
							<td>teszt6</td>
							<td>Össz.</td>
						</tr>
						<tr>
							<td style="color:#00cc00">nyomás</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">javítás</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">kivágás</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">kád</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Op ID</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Műszak</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Dátum</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div class="col-sm-6">
						<table class="table table-bordered" style="background-color:#ffffff">
							<tr style="color:#00cc00">
								<td style="color:#000000">2 perces PDT teszt</td>
								<td>1</td>
								<td>2</td>
								<td>3</td>
							</tr>
							<tr>
								<td style="color:#00cc00">Kezdőnyomás</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Végnyomás</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Nyomás különbség</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">x-re sikeres teszt</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Op ID</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Csoportvezető</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Műszak</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="color:#00cc00">Dátum</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-12" style="border-style:solid">
							<h3>Uretánhiba</h3>
							<div class="row">
								<div class="col-sm-12">
									<h3 style="color:#00cc00">1. Impregnálás ideje</h3>
								</div>
								<div class="col-sm-12">
									<h3 style="color:#00cc00">Be</h3>
									<input readonly style="background-color:#ffffff" type="text" class="form-control">
								</div>
								<div class="col-sm-12">
									<h3 style="color:#00cc00">Ki</h3>
									<input readonly style="background-color:#ffffff" type="text" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h3 style="color:#00cc00">2. Impregnálás ideje</h3>
								</div>
								<div class="col-sm-12">
									<h3 style="color:#00cc00">Be</h3>
									<input readonly style="background-color:#ffffff" type="text" class="form-control">
								</div>
								<div class="col-sm-12">
									<h3 style="color:#00cc00">Ki</h3>
									<input readonly style="background-color:#ffffff" type="text" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<table class="table table-condensed">
						<tr>
							<td>Impregnálás</td>
							<td style="color:#00cc00">Dátum</td>
						</tr>
					</table>
					<table class="table table-bordered" style="background-color:#ffffff">
						<tr>
							<td style="color:#00cc00">Kád/rekesz</td>
							<td></td>
							<td style="color:#00cc00">Op ID/műsz.</td>
							<td></td>
							<td style="color:#00cc00">Idő be/ki</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Kád/rekesz</td>
							<td></td>
							<td style="color:#00cc00">Op ID/műsz.</td>
							<td></td>
							<td style="color:#00cc00">Idő be/ki</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="color:#00cc00">Kád/rekesz</td>
							<td></td>
							<td style="color:#00cc00">Op ID/műsz.</td>
							<td></td>
							<td style="color:#00cc00">Idő be/ki</td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
</div>
<div class="module-footer"></div>
</section>
</div>