[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.card {
  background: white;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  margin-top: 30px;
  padding: 15px;
}
.title{
  font-size: 40px;
  height: 100px;
  width: 100px;
  line-height:100px;
  background: #575757;
  color: white;
  margin: -40px auto 0 auto;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.datatext{
  font-size:30px;
  margin: 10px auto 0 auto;
}