<div class="container-fluid">
  <section class="module col-md-10 col-md-offset-1">
    <section class="module col-sm-3 col-md-3">
      <div class="module-body">
        <h2 class="voice voice-brand">Összesítő</h2>
        <hr>
        <div>
          <h2 class="voice voice-brand">
            <i class="icon-filter"></i> Szűrő</h2>
          <p>
            Válassz az alábbi dátum mezőkből kijelezni kívánt időszakot:
          </p>
          <div class="input-group col-sm-12">
            <span class="input-group-addon">Dátumtól:</span>
            <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-6d" end="{{vm.edate}}">
          </div>
          <div class="input-group col-sm-12">
            <span class="input-group-addon">Dátumtig:</span>
            <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="-0d" end="{{vm.edate}}">
          </div>
          <div class="progress progress-info progress-striped active" ng-hide="!vm.load">
            <div class="progress-bar" style="width: 100%">
              <p class="text-center">Frissítés...</p>
            </div>
          </div>
          <div class="button-group">
            <button class="btn btn-info" ng-click="vm.createdates()" ng-disabled="vm.load">
              <i class="icon icon-filter"></i> Szűrés</button>
          </div>
          <br>
        </div>
      </div>
    </section>
    <section class="module col-sm-9 col-md-9">
      <header class="module-header"></header>
      <h1 class="voice voice-brand">MES</h1>
      <table class="table responsive">
        <thead>
          <tr>
            <th colspan="11" class="text-center">ZeeWeed 1500 (AEQ)</th>
          </tr>
          <tr>
            <th class="text-center">Dátum</th>
            <th class="text-center">SL start</th>
            <th class="text-center">SL end</th>
            <th class="text-center">Potting start</th>
            <th class="text-center">Potting flip</th>
            <th class="text-center">Centrifuga start</th>
            <th class="text-center">Centrifuga end</th>
            <th class="text-center">BP start</th>
            <th class="text-center">BP end</th>
            <th class="text-center">Grade</th>
          </tr>
          <tr ng-repeat="date in vm.days track by $index">
            <th class="text-center">{{date}}</th>
            <td class="text-center">{{(vm.bundledata|filter:{'SPL_start':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.bundledata|filter:{'SPL_end':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'Static_Potting_Start':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'Static_Potting_Flip':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'Centrifuga_Start':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'Centrifuga_End':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'BP_start':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'BP_end':date})| sumField:'AEQ'| number:2 }}</td>
            <td class="text-center">{{(vm.data|filter:{'Gradedate':date})| sumField:'AEQ'| number:2 }}</td>
          </tr>
        </thead>
      </table>
    </section>
  </section>
</div>