<div class="container">
  <section class="module">
    <div class="module-header">
      <div class="col-sm-6" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-1d" end="{{vm.edate}}">
          <span class="input-group-addon">-tól</span>
          <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="-1d" end="{{vm.edate}}">
          <span class="input-group-addon">-ig</span>
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.createdates()" ng-disabled="vm.enddate<=vm.startdate">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-sm-4" ng-repeat="item in vm.smcards | orderBy:'sm'">
          <div class="card">
            <smday-dir data="item"></smday-dir>
          </div>
          </div>
        </div>
      </div>
      <div class="module-footer"></div>
  </section>
  </div>