<div class="container">
  <section class="module">
    <div class="module-header">
      <div class="col-sm-12" style="margin-top:20px">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Dátum</span>
            <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-1d" end="{{vm.edate}}">
            <span class="input-group-addon">-tól</span>
            <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="-1d" end="{{vm.edate}}">
            <span class="input-group-addon">-ig</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group myselector">
            <select multiple="multiple" class="form-control" ng-model="vm.sheetmakers">
              <option value="SM1">SM1</option>
              <option value="SM2">SM2</option>
              <option value="SM4">SM4</option>
              <option value="SM5">SM5</option>
              <option value="SM6">SM6</option>
              <option value="SM7">SM7</option>
              <option value="SM8">SM8</option>
              <option value="SM9">SM9</option>
            </select>
            <span class="input-group-addon">gépek</span>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 text-center">
          <a href="" class="btn btn-primary" ng-click="vm.createdates()" ng-disabled="vm.enddate<vm.startdate">Betöltés</a>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-success progress-striped active" ng-hide="!vm.loaddata">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Frissítés...</p>
        </div>
      </div>
      <div class="col-sm-12">
        <my-chart config="vm.dayavailconfig" id="daych"></my-chart>
      </div>
      <div class="col-sm-8">
        <my-chart config="vm.smavailabilitychartconfig" id="chart"></my-chart>
      </div>
      <div class="col-sm-4">
        <my-chart config="vm.ttlsmavailabilitychartconfig" id="ttlchart"></my-chart>
      </div>
      <div class="col-sm-12">
        <my-chart config="vm.topmconf" id="topm"></my-chart>
      </div>
      <div class="col-sm-12">
        <my-chart config="vm.topsconf" id="tops"></my-chart>
      </div>
      <div class="col-sm-12">
        <my-chart config="vm.toptconf" id="topt"></my-chart>
      </div>

      <div class="row">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Machine</th>
              <th>Ev_Group</th>
              <th>Event_SubGroup</th>
              <th>Maximo szám</th>
              <th>Event_time (sec)</th>
              <th>Event_time (min)</th>
              <th>Event_time (hr)</th>
              <th>Date</th>
              <th>Shift</th>
              <th>Comment</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan=2>
                <div class="form-group">
                  <select class="form-control" ng-model="vm.search.Machine">
                    <option value=""></option>
                    <option ng-repeat="it in vm.sheetmakers" value="{{it}}">{{it}}</option>
                  </select>
                </div>
              </th>
              <th colspan=8>
                <div class="form-group">
                  <select class="form-control" ng-model="vm.search.Ev_Group">
                    <option value=""></option>
                    <option value="Muszaki technikai okok">Műszaki</option>
                    <option value="Szervezesi veszteseg">Szervezési</option>
                    <option value="Tervezett veszteseg">Tervezett</option>
                  </select>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in vm.filedatas | filter: vm.search | orderBy: 'Event_time': true | limitTo: 25">
              <td>{{i.Machine}}</td>
              <td>{{i.Ev_Group}}</td>
              <td>{{i.Event_SubGroup}}</td>
              <td>{{i.Maximo_num}}</td>
              <td>{{i.Event_time}}</td>
              <td>{{i.Event_time/60 | number: 0}}</td>
              <td>{{i.Event_time/60/60 | number: 2}}</td>
              <td>{{i.timestamp | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
              <td>{{i.Shift_Name}}</td>
              <td>{{i.Comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="module-footer"></div>
  </section>
</div>