<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Rewinder</h1>
      <div class="col-sm-4" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input type="text" class="datepicker form-control" ng-model="vm.datum" setdate="0d" end="{{vm.edate}}">
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.load()" ng-disabled="">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
     
        <table class="table table-hover table-condensed table-bordered">
          <thead>
            <tr>
              <th colspan="1" class="text-center"></th>
              <th colspan="3" class="text-center">Nappal</th>
              <th colspan="3" class="text-center">Éjszaka</th>
              <th colspan="3" class="text-center">Nap</th>
            </tr>
            <tr>
              <th class="text-center">Gép</th>
              <th class="text-center">Méter</th>
              <th class="text-center">AEQ</th>
              <th class="text-center">Dob</th>
              <th class="text-center">Méter</th>
              <th class="text-center">AEQ</th>
              <th class="text-center">Dob</th>
              <th class="text-center">Méter</th>
              <th class="text-center">AEQ</th>
              <th class="text-center">Dob</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.selectdata">
              <td class="text-center">{{item.nev}}</td>
              <td class="text-center">{{item.meternappal}}</td>
              <td class="text-center">{{item.meternappal/9300|number:0}}</td>
              <td class="text-center">{{item.cnappal}}</td>
              <td class="text-center">{{item.meterejszaka}}</td>
              <td class="text-center">{{item.meterejszaka/9300|number:0}}</td>
              <td class="text-center">{{item.cejszaka}}</td>
              <td class="text-center">{{item.meternapi}}</td>
              <td class="text-center">{{item.meternapi/9300|number:0}}</td>
              <td class="text-center">{{item.cnapi}}</td>
            </tr>
            <tr>
              <td class="text-center">Összesen</td>
              <td class="text-center">{{vm.selectdata| sumField:'meternappal'|number:0}}</td>
              <td class="text-center">{{(vm.selectdata| sumField:'meternappal')/9300|number:0}}</td>
              <td class="text-center">{{vm.selectdata| sumField:'cnappal'|number:0}}</td>
              <td class="text-center">{{vm.selectdata| sumField:'meterejszaka'|number:0}}</td>
              <td class="text-center">{{(vm.selectdata| sumField:'meterejszaka')/9300|number:0}}</td>
              <td class="text-center">{{vm.selectdata| sumField:'cejszaka'|number:0}}</td>
              <td class="text-center">{{vm.selectdata| sumField:'meternapi'|number:0}}</td>
              <td class="text-center">{{(vm.selectdata| sumField:'meternapi')/9300|number:0}}</td>
              <td class="text-center">{{vm.selectdata| sumField:'cnapi'|number:0}}</td>
            </tr>
          </tbody>
        </table>
     
    </div>
    <div class="module-footer"></div>
  </section>
</div>