<div class="container">
	<section class="module">
		<div class="module-header">
			<div class="col-sm-5" style="margin-top:60px">
				<div class="input-group">
					<span class="input-group-addon">Dátum:</span>
					<input type="text" class="datepicker form-control" ng-model="vm.datum">
					<div class="input-group-btn">
						<a href="" class="btn btn-primary" ng-click="vm.load();vm.beallit()" ng-disabled="vm.dis">Betöltés</a>
					</div>
					<div class="input-group-btn">
						<a href="" class="btn btn-primary" ng-click="vm.exportToCSV()" ng-disabled="vm.dis">Mentés</a>
					</div>
				</div>
			</div>
		</div>
		<div class="module-body">
			<div class="progress progress-warning progress-striped active" ng-hide="!vm.dis">
				<div class="progress-bar" style="width: 100%">
					<p class="text-center">Betöltés...</p>
				</div>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th class="text-center">
							<div class="input-group">
								<span class="input-group-addon">Szak:</span>
								<select class="form-control" ng-model="vm.filtered.shift">
									<option value="">Mind</option>
									<option value="A">A</option>
									<option value="B">B</option>
									<option value="C">C</option>
									<option value="D">D</option>
								</select>
							</div>
						</th>
						<th colspan="8" class="text-center" ng-repeat="pottings in vm.Pottings">{{pottings}}</th>
					</tr>
					<tr>
						<th class="text-center">Operátor</th>
						<th class="text-center" ng-repeat="hely in vm.hely">{{hely.substr(0,1) + hely.substr(hely.indexOf(' '),2)}}</th>
						<th class="text-center" ng-repeat="hely in vm.hely">{{hely.substr(0,1) + hely.substr(hely.indexOf(' '),2)}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="op in vm.ops | filter: vm.filtered" ng-if="((vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.gid}).length>0 || (vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.gid}).length>0) && op.gid != ''">
						<td width="30%">{{op.name + " - " + op.gid + " - " + op.shift}}</td>
						<td ng-repeat="hely in vm.hely" style="background-color: {{(vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.gid}).length>0?'#ddd':''}}">{{ (vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.gid}).length>0?(vm.datas | filter: {mch:'Potting3',
							pha: hely, operator: op.gid}).length:'' }}</td>
						<td ng-repeat="hely in vm.hely" style="background-color: {{(vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.gid}).length>0?'#bbb':''}}">{{ (vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.gid}).length>0?(vm.datas | filter: {mch:'Potting4',
							pha: hely, operator: op.gid}).length:'' }}</td>
					</tr>
					<tr>
						<th colspan="17">
							Még SSOval
						</th>
					</tr>
					<tr ng-repeat="op in vm.ops | filter: vm.filtered" ng-if="((vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.sso}).length>0 || (vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.sso}).length>0)">
						<td width="30%">{{op.name + " - " + op.sso + " - " + op.shift}}</td>
						<td ng-repeat="hely in vm.hely" style="background-color: {{(vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.gid}).length>0?'#ddd':''}}">{{ (vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.sso}).length>0?(vm.datas | filter: {mch:'Potting3',
							pha: hely, operator: op.sso}).length:'' }}</td>
						<td ng-repeat="hely in vm.hely" style="background-color: {{(vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.gid}).length>0?'#bbb':''}}">{{ (vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.sso}).length>0?(vm.datas | filter: {mch:'Potting4',
							pha: hely, operator: op.sso}).length:'' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="module-footer"></div>
	</section>
</div>