<div class="container">
	<section class="module">
		<div class="module-header">
			<!--<h1 class="text-center" ng-if="vm.actshiftnum==1">{{vm.actmachine}}-Operátorok-Délelőtt</h1>
			<h1 class="text-center" ng-if="vm.actshiftnum==2">{{vm.actmachine}}-Operátorok-Délután</h1>
			<h1 class="text-center" ng-if="vm.actshiftnum==3">{{vm.actmachine}}-Operátorok-Éjszaka</h1>
			<h2 class="text-center" style="margin-top:10px">{{vm.datumszam}}</h2>
			<ul class="nav nav-tabs" style="margin-top:10px">
				<li ng-repeat="item in vm.Pottings track by $index">
					<a data-toggle="tab" href="" ng-click="vm.actmachine=item;vm.load()" ng-hide="vm.dis">{{item}}</a>
				</li>
			</ul>
			<div class="col-sm-7">
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
							<li>
								<a data-toggle="tab" href="" ng-click="vm.actshiftnum=1;vm.load()" ng-hide="vm.dis">Délelőtt</a>
							</li>
							<li ng-show="vm.segedszam<vm.switchdate">
								<a data-toggle="tab" href="" ng-click="vm.actshiftnum=2;vm.load()" ng-hide="vm.dis">Délután</a>
							</li>
							<li>
								<a data-toggle="tab" href="" ng-click="vm.actshiftnum=3;vm.load()" ng-hide="vm.dis">Éjszaka</a>
							</li>
					</ul>
				</div>
			</div>-->
			<div class="col-sm-5" style="margin-top:60px">
				<div class="input-group">
					<span class="input-group-addon">Dátum:</span>
					<input type="text" class="datepicker form-control" ng-model="vm.datum">
					<div class="input-group-btn">
						<a href="" class="btn btn-primary" ng-click="vm.load();vm.beallit()" ng-disabled="vm.dis">Betöltés</a>
					</div>
				</div>
			</div>
		</div>
		<div class="module-body">
			<div class="progress progress-warning progress-striped active" ng-hide="!vm.dis">
				<div class="progress-bar" style="width: 100%">
					<p class="text-center">Betöltés...</p>
				</div>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th rowspan="2" class="text-center">Operátor</th>
						<th colspan="8" class="text-center" ng-repeat="pottings in vm.Pottings">{{pottings}}</th>
					</tr>
					<tr>
						<th class="text-center" ng-repeat="hely in vm.hely">{{hely.substr(0,1) + hely.substr(hely.indexOf(' '),2)}}</th>
						<th class="text-center" ng-repeat="hely in vm.hely">{{hely.substr(0,1) + hely.substr(hely.indexOf(' '),2)}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="op in vm.ops">
						<td width="30%">{{op.name + " - " + op.sso + " - " + op.shift}}</td>
						<td ng-repeat="hely in vm.hely">{{ (vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.sso}).length>0?(vm.datas | filter: {mch:'Potting3', pha: hely, operator: op.sso}).length:'' }}</td>
						<td ng-repeat="hely in vm.hely">{{ (vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.sso}).length>0?(vm.datas | filter: {mch:'Potting4', pha: hely, operator: op.sso}).length:'' }}</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-sm-6" ng-repeat="item in vm.OP| orderBy:'sor'">
					<div style="border: 1px solid #ddd; border-radius:3px;overflow:hidden;height:260px">

						<!--<op-dir data="item"></op-dir>-->
					</div>
				</div>
			</div>
		</div>
		<div class="module-footer"></div>
	</section>
</div>