<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">TMK felvétele</h1>
      <div class="col-sm-12" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Előző TMK</span>
          <input type="text" class="datepicker form-control" ng-model="vm.datefrom" setdate="0d">
          <span class="input-group-addon">Óra:</span>
          <select ng-model="vm.starthour">
					<option ng-repeat="item in vm.hours track by $index" value="{{item}}">{{item}}</option>
          </select>
          <span class="input-group-addon">Perc:</span>
          <input type="text" class="form-control" ng-model="vm.startminute">
          <span class="input-group-addon">Következő TMK</span>
          <input type="text" class="datepicker form-control" ng-model="vm.dateto" std="{{vm.sdate}}" setdate="0d">
          <span class="input-group-addon">Óra:</span>
          <select ng-model="vm.endhour">
					<option ng-repeat="item in vm.hours track by $index" value="{{item}}">{{item}}</option>
          </select>
          <span class="input-group-addon">Perc:</span>
          <input type="text" class="form-control" ng-model="vm.endminute">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="input-group">
          <select ng-model="vm.actsm">
					<option ng-repeat="item in vm.sheetmakers track by $index" value="{{item}}">{{item}}</option>
					</select>
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.show()" ng-disabled="vm.dateto<vm.datefrom">Input mezők generálása</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div ng-show="vm.mutat">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>SM</th>
              <th>Előző TMK</th>
              <th>Következő TMK</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.data track by $index" class="ng-scope">
              <td><input ng-model="vm.data[$index].id" type="text" class="form-control" value="{{vm.id}}" readonly></td>
              <td><input ng-model="vm.data[$index].sm" type="text" class="form-control" value="{{vm.actsm}}" readonly></td>
              <td><input ng-model="vm.data[$index].lastdate" type="text" class="form-control" value="{{vm.datefrom}}" readonly></td>
              <td><input ng-model="vm.data[$index].nextdate" type="text" class="form-control" value="{{vm.dateto}}" readonly></td>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-4">
          <button class="btn btn-success" ng-click="vm.save();vm.load();vm.mutat=false">Feltölt</button>
        </div>
      </div>
    </div>
    <div class="module-footer">
      <hr>
      <h1 class="text-center">Felvett TMK listák</h1>
      <div class="tray filter-tray top" style="margin-top:20px">
        <div class="tray-inner">
          <div class="filter-rule-group">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="control-label" style="color:#FFFFFF">SM:</span>
                <input type="text" ng-model="vm.search.sm" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="control-label" style="color:#FFFFFF">Előző TMK:</span>
                <input type="text" ng-model="vm.search.lastdate" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="control-label" style="color:#FFFFFF">Következő TMK:</span>
                <input type="text" ng-model="vm.search.nextdate" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th rowspan=2 ng-click="vm.order='date';vm.asc=!vm.asc;">SM</th>
            <th rowspan=2 ng-click="vm.order='date';vm.asc=!vm.asc;">Előző TMK</th>
            <th rowspan=2 ng-click="vm.order='date';vm.asc=!vm.asc;">Következő TMK</th>
            <th>Törlés</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.tmklist | orderBy:vm.order:vm.asc | filter: vm.search track by $index" class="ng-scope">
            <td>{{item.sm}}</td>
            <td>{{item.lastdate}}</td>
            <td>{{item.nextdate}}</td>
            <td>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-danger" ng-click="vm.remove(item.id,$index)"><i class="icon-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>