<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">X3 részletek-{{vm.datumszam}}</h1>
      <div class="col-sm-6" style="margin-top:10px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input class="form-control datepicker" setdate="0d" end="{{vm.edate}}" ng-model="vm.startdate" />
          <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="vm.beilleszt();vm.load();vm.loadall()" ng-disabled="vm.mtfld">Betöltés</button>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-info progress-striped active" ng-hide="!vm.mtfld">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Betöltés</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon">Eset</span>
          <select ng-model="vm.chartstate" class="form-control" ng-change="vm.selectchart(vm.selectday)">
                <option ng-repeat="item in vm.charlist|unique" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <mychart id="chart" config="vm.chartconfig"></mychart>
      </div>
      <div class="col-sm-12">
        <h2 class="text-center">{{vm.datumszam}} összesítő</h2>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Szak</th>
              <th>CL3 DB</th>
              <th>CL3 AEQ</th>
              <th>DB</th>
              <th>AEQ</th>
              <th>Átlagos ciklus</th>
              <th>Elvitt modulok</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in vm.alldata track by $index">
              <td>{{t.ShiftName}}</td>
              <td>{{t.CL3_in_QTY}}</td>
              <td>{{t.CL3_In_AEQ}}</td>
              <td>{{t.CL_Qty}}</td>
              <td>{{t.AEQ}}</td>
              <td>{{t.AVG__CL_cycle}}</td>
              <td>{{t.ElvittModulok}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-default pull-right" ng-class="{'btn-info':vm.show}" ng-click="vm.show=!vm.show">Részletes táblázat</button>
      </div>
    </div>
    <div class="module-footer">
      <div style="margin-top:50px" ng-show="vm.show">
        <div class="tray filter-tray top">
          <div class="tray-inner">
            <div class="filter-rule-group">

              <div class="col-sm-4">
                <div class="form-group">
                  <span class="control-label" style="color:#FFFFFF">Státusz</span>
                  <select ng-model="search.Status_name1" class="form-control">
                    <option  value="">Mind</option>
                    <option ng-repeat="item in vm.charlist|unique" value="{{item}}">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
							  <div class="form-group">
								  <span class="control-label" style="color:#FFFFFF">Keret</span>
								  <input type="text" ng-model="search.Keret_id" class="form-control">
							  </div>
						</div>
              <div class="col-sm-3">
							  <div class="form-group">
								  <span class="control-label" style="color:#FFFFFF">Modul 1</span>
								  <input type="text" ng-model="search.Modul_ID1" class="form-control">
							  </div>
						</div>
              <div class="col-sm-3">
							  <div class="form-group">
								  <span class="control-label" style="color:#FFFFFF">Modul 2</span>
								  <input type="text" ng-model="search.Modul_ID2" class="form-control">
							  </div>
						</div>
            </div>
          </div>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Státusz</th>
              <th rowspan=2 ng-click="vm.order='PLC_Timestamp';vm.asc=!vm.asc;">Idő</th>
              <th>Keret</th>
              <th>Modul 1</th>
              <th>Modul 2</th>
              <th>Pozíció</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dt in vm.data | orderBy:vm.order:vm.asc | filter: search track by $index" class="ng-scope">
              <td>{{dt.Status_name1}}</td>
              <td>{{dt.PLC_Timestamp}}</td>
              <td>{{dt.Keret_id}}</td>
              <td>{{dt.Modul_ID1}}</td>
              <td>{{dt.Modul_ID2}}</td>
              <td>{{dt.Pos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>