<div class="container">
	<section class="module">
		<div class="module-header">
			<h1 class="text-center">BP kádak-{{vm.datumszam}}</h1>
		</div>
		<div class="module-body">
			<div class="progress progress-info progress-striped active" ng-show="vm.loading">
				<div class="progress-bar" style="width: 100%;">Firssítés</div>
			</div>
			<div class="row" ng-show="!vm.loading">
				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">Dátumtól:</span>
						<input class="form-control datepicker" min-date="2017-02-08" end="{{vm.edate}}" ng-model="vm.fr" />
						<div class="input-group-btn">
							<button class="btn btn-info" ng-click="vm.getData();vm.datszam()">Betöltés</button>
						</div>
					</div>
				</div>
			</div>
			<mychart id="ppchart" config="vm.chartconf"></mychart>
			<hr>
			<mychart id="opchart" config="vm.opchartconfig"></mychart>
			<button class="btn default" ng-class="{'btn-info':kadak}" ng-click="kadak=!kadak">Kádak</button>
			<button class="btn default" ng-class="{'btn-info':operatorok}" ng-click="operatorok=!operatorok">Operátorok</button>

			<div ng-show="kadak">
				<div class="tray filter-tray top" style="margin-top:20px">
					<div class="tray-inner">
						<div class="filter-rule-group">
							<div class="col-sm-4">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Operátor:</span>
									<input type="text" ng-model="vm.searchda.Operator" class="form-control">
								</div>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-condensed" id="bpkadak" ng-show="!vm.loading">
					<thead>
						<tr>
							<th>Machinename</th>
							<th>Operator</th>
							<th>startdate</th>
							<th>enddate</th>
							<th>repaired</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="da in vm.tabledata | orderBy:['machinename','startdate']| filter: vm.searchda track by $index" class="ng-scope">
							<td>{{da.machinename}}</td>
							<td>{{da.Operator}}</td>
							<td>{{da.startdate}}</td>
							<td>{{da.enddate}}</td>
							<td>{{da.Repaired}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-show="operatorok">
				<div class="tray filter-tray top" style="margin-top:20px">
					<div class="tray-inner">
						<div class="filter-rule-group">
							<div class="col-sm-4">
								<div class="form-group">
									<span class="control-label" style="color:#FFFFFF">Operátor:</span>
									<input type="text" ng-model="vm.search.operator" class="form-control">
								</div>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-condensed" ng-show="!vm.loading">
					<thead>
						<tr>
							<th>Operátor</th>
							<th>Összes eltávolított szál</th>
							<th>Összes bökés</th>
							<th>Munkaidő(perc)</th>
							<th>Bökés/perc</th>
							<th>Operátor által kezelt modulok és bökés számuk</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.opdata | filter: vm.search track by $index" class="ng-scope">
							<td>{{item.operator}}</td>
							<td>{{item.remove}}</td>
							<td>{{item.repair}}</td>
							<td>{{item.worktime}}</td>
							<td>{{item.repair/item.worktime | number:2}}</td>
							<td>
								<ul>
									<li ng-repeat="t in item.moduls track by $index">
										{{t[0]}} : {{t[1]}}
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="module-footer"></div>
	</section>
</div>