<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">ZW1000 ETF {{vm.datenum}}</h1>
      <div class="col-sm-5" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Dátum:</span>
          <input type="text" class="datepicker form-control" ng-model="vm.date" setdate="0d" end="{{vm.edate}}">
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.beallit()" ng-disabled="vm.loading">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-info progress-striped active" ng-hide="!vm.loading">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Frissítés...</p>
        </div>
      </div>
      <div class="row" style="padding: 20px">
        <my-chart id="chart" config="vm.chartconfig"></my-chart>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-sm-6">
          <h2>Fluxus táblázat</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Modul</th>
                <th>Megnevezés</th>
                <th>Dátum</th>
                <!--th>Gép</th-->
                <th>Szak</th>
                <th>Aeq</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.data|orderBy:'Perm_test' track by $index">
                <td>{{item.jobid}}</td>
                <td>{{item.modulname}}</td>
                <td>{{item.Perm_test}}</td>
                <!--td>{{item.Perm_gep}}</td-->
                <td>{{item.Perm_test_shift}}</td>
                <td>{{item.aeq}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <h2>Impregnálás táblázat</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Modul</th>
                <th>Megnevezés</th>
                <th>Dátum</th>
                <th>Szak</th>
                <th>Aeq</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.impdata|orderBy:'Impregnation_end' track by $index">
                <td>{{item.jobid}}</td>
                <td>{{item.modulname}}</td>
                <td>{{item.Impregnation_end}}</td>
                <td>{{item.Impregnation_end_shift}}</td>
                <td>{{item.aeq}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="module-footer"></div>
  </section>
  </div>