<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Kieső idő {{vm.datum}}
        <br> {{vm.misst}} sec.
      </h1>
      <div class="col-sm-8" style="margin-top:20px">
        <div class="col-sm-6">
          <div class="input-group myselector">
            <select multiple="multiple" class="form-control" ng-model="vm.sheetmakers">
              <option value="SM1">SM1</option>
              <option value="SM2">SM2</option>
              <option value="SM4">SM4</option>
              <option value="SM5">SM5</option>
              <option value="SM6">SM6</option>
              <option value="SM7">SM7</option>
              <option value="SM8">SM8</option>
              <option value="SM9">SM9</option>
            </select>
            <span class="input-group-addon">gépek</span>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Dátum:</span>
          <input type="text" class="datepicker form-control" ng-model="vm.datum" end="{{vm.edate}}">
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.load()" ng-disabled="vm.smloading">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="progress progress-success progress-striped active" ng-hide="!vm.smloading">
        <div class="progress-bar" style="width: 100%">
          <p class="text-center">Frissítés...</p>
        </div>
      </div>
      <div class="row" ng-hide="vm.hossz>1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Eset</th>
              <th ng-click="vm.order='start';vm.asc=!vm.asc;">Eset start</th>
              <th>Következő eset start</th>
              <th>Esetek között eltelt idő (sec.)</th>
              <th>Könyvelt idő az esetre (sec.)</th>
              <th ng-click="vm.order='timediff';vm.asc=!vm.asc;">Esetek között eltelt idő és a könyvelt idő különbséges (sec.)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.missdata| orderBy:vm.order:vm.asc track by $index">
              <td>{{item.type}}</td>
              <td>{{item.start|date:'yyyy-MM-dd-HH:mm:ss'}}</td>
              <td>{{item.nextstart|date:'yyyy-MM-dd-HH:mm:ss'}}</td>
              <td>{{item.difference}}</td>
              <td>{{item.time}}</td>
              <td>{{item.timediff}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="module-footer"></div>
  </section>
</div>