<div class="container-fluid">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">MTF Archívum</h1>
      <div class="col-sm-6" style="margin-top:20px">
<div class="input-group">
  <span class="input-group-addon">Betöltésre kerülő időszak:</span>
  <input type="text" class="datepicker form-control" ng-model="vm.datefrom">
  <span class="input-group-addon">-tól</span>
  <input type="text" class="datepicker form-control" ng-model="vm.dateto">
  <span class="input-group-addon">-ig</span>
  <div class="input-group-btn">
    <a href="" class="btn btn-primary" ng-click="vm.getD()" ng-disabled="vm.dateto<=vm.datefrom">Betöltés</a>
  </div>
</div>
</div>
</div>
<div class="module-body">
  <hr>
  <!--mychart id="chart1" config="vm.chConf()"></mychart-->
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr class="hide-print">
        <th colspan="13">Szűrés:
          <select class="form-control" ng-model="vm.filterer" ng-change="vm.chConf()">
						<option value=>Mind</option>
						<option ng-repeat="item in vm.mods" value="item">{{item}}</option>
          </select>
        </th>
      </tr>
    </thead>
    <thead>
       <tr>
        <th></th>
        <th colspan="3">DE</th>
        <th colspan="3">DU</th>
        <th colspan="3">ÉJ</th>
        <th colspan="3">NAPI</th>
      </tr>
      <tr>
        <th>NAP</th>
        <th>AEQ</th>
        <th>BÖKÉS</th>
        <th>BÖKÉS/AEQ</th>
        <th>AEQ</th>
        <th>BÖKÉS</th>
        <th>BÖKÉS/AEQ</th>
        <th>AEQ</th>
        <th>BÖKÉS</th>
        <th>BÖKÉS/AEQ</th>
        <th>AEQ</th>
        <th>BÖKÉS</th>
        <th>BÖKÉS/AEQ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="days in vm.data | orderBy:'for':true track by $index" class="ng-scope">
        <td>{{days.for|date:'MM-dd'}}</td>
        <td>{{days.data.aeq.aeq}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="module-footer"></div>
</section>
</div>