<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Rewinder összesítő {{vm.startdatenum}}-{{vm.enddatenum}}</h1>
      <div class="col-sm-6" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-7d" end="{{vm.edate}}">
          <span class="input-group-addon">-tól</span>
          <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="-1d" end="{{vm.edate}}">
          <span class="input-group-addon">-ig</span>
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.beallit();vm.load()" ng-disabled="vm.loading">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
        <div class="progress progress-success progress-striped active" ng-hide="!vm.loading">
            <div class="progress-bar" style="width: 100%">
              <p class="text-center">Betöltés</p>
            </div>
          </div>
      <div>
        <mychart id="chart" config="vm.chartconfig_col"></mychart>
      </div>
    </div>
    <div class="module-footer"></div>
  </section>
</div>