<div class="container">
  <section class="module">
    <div class="module-header">
      <h1 class="text-center">Rewinder összesítő {{vm.startdatenum}}-{{vm.enddatenum}}</h1>
      <div class="col-sm-6" style="margin-top:20px">
        <div class="input-group">
          <span class="input-group-addon">Dátum</span>
          <input type="text" class="datepicker form-control" ng-model="vm.startdate" setdate="-7d" end="{{vm.edate}}">
          <span class="input-group-addon">-tól</span>
          <input type="text" class="datepicker form-control" ng-model="vm.enddate" setdate="-1d" end="{{vm.edate}}">
          <span class="input-group-addon">-ig</span>
          <div class="input-group-btn">
            <a href="" class="btn btn-primary" ng-click="vm.beallit();vm.load()" ng-disabled="vm.loading">Betöltés</a>
          </div>
        </div>
      </div>
    </div>
    <div class="module-body">
        <div class="progress progress-success progress-striped active" ng-hide="!vm.loading">
            <div class="progress-bar" style="width: 100%">
              <p class="text-center">Betöltés</p>
            </div>
          </div>
      <div>
        <mychart id="chart" config="vm.chartconfig_col"></mychart>
      </div>
    </div>
    <div class="module-footer">
      <div class="col-sm-8 col-sm-offset-2">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="6">Elkészül dobok száma szakonként</th>
          </tr>
          <tr>
            <th>Nap</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>Napi Össz</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="da in (vm.data | unique:'date') track by $index">
            <td>{{da.date}}</td>
            <td ng-repeat="sh in ['A','B','C','D'] track by $index">
              {{ vm.data | filter: {'date': da.date, shift: sh} | sumField: 'P_Count'| number:0}}
            </td>
            <td>
              {{ vm.data | filter: {'date': da.date} | sumField: 'P_Count'| number:0}}
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </section>
</div>