<div class="container">
	<section class="module">
		<div class="module-header">
			<h1 class="text-center">Braidt-Report-{{vm.startdatumszam}}-{{vm.enddatumszam}}</h1>
			<h3 class="text-center" style="margin-top:20px">{{vm.difference}} perc</h3>
			<h3 class="text-center" style="margin-top:20px">{{vm.st}}</h3>
			<div class="col-sm-6" style="margin-top:20px">
				<div class="input-group">
					<span class="input-group-addon">Dátum:</span>
					<input type="text" class="datepicker form-control" ng-model="vm.startdatum" end="{{vm.edate}}">
					<span class="input-group-addon">-tól</span>
					<input type="text" class="datepicker form-control" ng-model="vm.enddatum" end="{{vm.edate}}">
					<span class="input-group-addon">-ig</span>
					<div class="input-group-btn">
						<a href="" class="btn btn-primary" ng-click="vm.load();vm.beallit()" ng-disabled="vm.dis || vm.enddatum<=vm.startdatum || !vm.showsumstat || !vm.showcirclestat">Betöltés</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12" style="margin-top:20px">
				<ul class="nav nav-tabs" style="margin-top:10px">
					<li ng-repeat="item in vm.status track by $index">
						<a data-toggle="tab" href="" ng-click="vm.st=item" ng-hide="vm.dis || !vm.showsumstat || !vm.showcirclestat">{{item}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="module-body">
			<div class="progress progress-success progress-striped active" ng-hide="!vm.braidtloading">
				<div class="progress-bar" style="width: 100%">
					<p class="text-center">Frissítés...</p>
				</div>
			</div>
			<table class="table table-bordered" ng-show="vm.showsumstat &&vm.st=='Állásidők'">
				<thead>
					<tr>
						<th>Kód</th>
						<th>Idő (perc)</th>
						<th>Legkisebb kieső idő (perc)</th>
						<th>Legnagyobb kieső idő (perc)</th>
						<th>DB</th>
						<th>Részletek</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.sumstat | filter:{'id':'!Aut. Dolgozik'} | orderBy:'-time'" class="ng-scope">
						<td>{{item.id}}</td>
						<td>{{item.time}}</td>
						<td>{{item.min}}</td>
						<td>{{item.max}}</td>
						<td>{{item.piece}}</td>
						<td><button class="btn btn-info" ng-show="item.id!='Összesen'" ng-click="vm.itemtype=item;vm.count();vm.showsumstat=false"><i class="icon-info-sign"></i></td>
					</tr>
				</tbody>
			</table>

      <div ng-show="vm.itemtype && vm.show2table" style="margin-top:20px">
        <h1 class="text-center">{{vm.itemtype.id}}-részletek</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Gép</th>
              <th rowspan=2 ng-click="vm.order='ido';vm.asc=!vm.asc;">Idő</th>
              <th rowspan=2 ng-click="vm.order='darab';vm.asc=!vm.asc;">Darab</th>
              <th>Vissza/Chart</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in vm.machines | orderBy:vm.order:vm.asc" class="ng-scope">
              <td>{{data.nev}}</td>
              <td>{{data.ido}}</td>
              <td>{{data.darab}}</td>
							<td>
								<div class="btn-group btn-group-sm">
									<button class="btn btn-success" ng-click="vm.showsumstat=true;vm.itemtype=''"><i class="icon-arrow-left"></i></button>
							<button class="btn btn-primary" ng-click="vm.drawitem=data;vm.drawchart();vm.show2table=false"><i class="icon-bar-chart"></i></button>
		</div>
		</td>
		</tr>
		</tbody>
		</table>
</div>
<div class="tab-content" ng-show="vm.drawitem">
	<my-chart id="chart_pie" config="vm.chartconfig_pie"></my-chart>
	<my-chart id="chart_xrange" config="vm.chartconfig_xrange"></my-chart>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Hiba</th>
				<th>Kezdet</th>
				<th>Vége</th>
				<th>Időtartam</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="fault in vm.kodok">
				<td>{{fault.code}}</td>
				<td>{{fault.x | date:'yyyy-MM-dd-hh:mm'}}</td>
				<td>{{fault.x2 | date:'yyyy-MM-dd-hh:mm'}}</td>
				<td>{{fault.time/60000}}</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-success" ng-click="vm.show2table=true;vm.show3table=true;vm.drawitem=''"><i class="icon-arrow-left"></i></button>
</div>
</div>

<div class="module-footer">
	<style>
		.green {
			color: #006600;
		}
		
		.red {
			color: #990000;
		}
	</style>
	<div class="row" ng-show="vm.st=='Termek'">
		<div class="col-sm-6" ng-repeat="item in vm.toprooms">
			<room-dir data="item"></room-dir>
		</div>
	</div>
	<table class="table table-bordered" ng-show="vm.st=='Termek'">
		<thead>
			<tr>
				<th>Terem</th>
				<th>Gépek száma</th>
				<th>Hasznos idő (perc)</th>
				<th>Hasznos idő/Összes idő</th>
				<th>Kieső idő (perc)</th>
				<th>Kieső idő/Összes idő</th>
				<th>Összes idő (perc)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.rooms">
				<td>{{item.room}}</td>
				<td>{{item.piece}}</td>
				<td>{{item.goodtime}}</td>
				<td>{{(item.goodtime/item.alltime)*100 | number:2}} %</td>
				<td>{{item.badtime}}</td>
				<td>{{(item.badtime/item.alltime)*100 | number:2}} %</td>
				<td>{{item.alltime}}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered" ng-show="vm.st=='Körök' && vm.showcirclestat">
		<thead>
			<tr>
				<th rowspan=2 ng-click="vm.order='circle';vm.rsc=!vm.rsc;">Kör</th>
				<th>Gépek száma</th>
				<th>Hasznos idő (perc)</th>
				<th>Hasznos idő/Összes idő</th>
				<th rowspan=2 ng-click="vm.order='badtime';vm.rsc=!vm.rsc;">Kieső idő (perc)</th>
				<th rowspan=2 ng-click="vm.order='badtime/alltime';vm.rsc=!vm.rsc;">Kieső idő/Összes idő</th>
				<th>Összes idő (perc)</th>
				<th>Részletek</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.circles  | orderBy:vm.order:vm.rsc" class="ng-scope">
				<td>{{item.circle}}</td>
				<td>{{item.piece}}</td>
				<td>{{item.goodtime}}</td>
				<td>{{(item.goodtime/item.alltime)*100 | number:2}} %</td>
				<td>{{item.badtime}}</td>
				<td>{{(item.badtime/item.alltime)*100 | number:2}} %</td>
				<td>{{item.alltime}}</td>
				<td><button class="btn btn-info" ng-click="vm.itemcircle=item;vm.circledetails();vm.showcirclestat=false"><i class="icon-info-sign"></i></td>
						</tr>
					</tbody>
				</table>
				<div ng-show="vm.itemcircle && vm.show3table">
					<button class="btn btn-success pull-right" ng-click="vm.showcirclestat=true;vm.itemcircle=''"><i class="icon-arrow-left"></i></button>
					<h1 class="text-center" style="margin-bottom:10px">{{vm.itemcircle.circle}}. kör gépei</h1>
					<div class="col-sm-2" ng-repeat="circle in vm.cmch" style="background-color:{{(circle.hasznos/circle.osszes)*100>90?'green':'red'}};text-align: center">
						<h3 style="color:#ffffff">{{circle.nev}}-{{(circle.hasznos/circle.osszes)*100 | number:2}} %</h3><button class="btn btn-primary" ng-click="vm.drawitem=circle;vm.drawchart();vm.show3table=false"><i class="icon-bar-chart"></i></button></div>
</div>
</div>
</div>
</section>
</div>