<div class="container">
	<section class="module">
		<div class="module-header">
			<h1 class="text-center">Braidt-Report-{{vm.startdatumszam}}-{{vm.enddatumszam}}</h1>
			<div class="col-sm-6" style="margin-top:20px">
				<div class="input-group">
					<span class="input-group-addon">Dátum:</span>
					<input type="text" class="datepicker form-control" ng-model="vm.startdatum">
					<span class="input-group-addon">-tól</span>
					<input type="text" class="datepicker form-control" ng-model="vm.enddatum">
					<span class="input-group-addon">-ig</span>
					<div class="input-group-btn">
						<a href="" class="btn btn-primary" ng-click="vm.load();vm.beallit()" ng-disabled="vm.dis || vm.enddatum<vm.startdatum">Betöltés</a>
					</div>
				</div>
			</div>
		</div>
		<div class="module-body">
			<div class="progress progress-success progress-striped active" ng-hide="!vm.braidtloading">
				<div class="progress-bar" style="width: 100%">
					<p class="text-center">Frissítés...</p>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Kód</th>
						<th>Idő (perc)</th>
						<th>DB</th>
            <th>Részletek</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.sumstat | filter:{'id':'!Alapállapot'} | filter:{'id':'!Aut. Dolgozik'} | orderBy:'-time'" class="ng-scope">
						<td>{{item.id}}</td>
						<td>{{item.time}}</td>
						<td>{{item.piece}}</td>
						<td><button class="btn btn-info" ng-click="vm.itemtype=item"><i class="icon-info-sign"></i></td>
					</tr>
				</tbody>
			</table>

      <div ng-show="vm.itemtype" style="margin-top:20px">
        <h1 class="text-center">{{vm.itemtype.id}}-részletek</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Gép</th>
              <th>Bal oldal</th>
              <th>Jobb oldal</th>
              <th>Idő (perc)</th>
              <th>Típus</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in vm.stat_data " ng-if="data.machine_Stat === vm.itemtype.id">
              <td>{{data.MName}}</td>
              <td>{{data.Stat_B}}</td>
              <td>{{data.Stat_J}}</td>
              <td>{{data.Stat_Time}}</td>
              <td>{{data.machine_Stat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
		</div>
		<div class="module-footer"></div>
	</section>
</div>